<div class="sidebar-wrapper">
    <div class="list-group list-group-flush card1">
        <a class="list-group-item list-group-item-action list-group-item-light" routerLink="/dashboard"><img
                class="menu-item-img-size" src="assets/icons/house-solid.svg" /> Dashboard</a>
        <a class="list-group-item list-group-item-action list-group-item-light" routerLink="/profile"><img
                class="menu-item-img-size" src="assets/icons/user-solid.svg" /> Profile</a>
        <a class="list-group-item list-group-item-action list-group-item-light" routerLink="/preference"><img
                class="menu-item-img-size" src="assets/icons/asterisk-solid.svg" /> Preferences</a>
        <!-- <a class="list-group-item list-group-item-action list-group-item-light" routerLink="/assessments">Assessments</a> -->
        <a class="list-group-item list-group-item-action list-group-item-light" routerLink="/jobs"> <img
                class="menu-item-img-size" src="assets/icons/users-solid.svg" />Jobs</a>

    </div>


    <!-- <div class="list-group list-group-flush left-ninja-badge-section card2">
            <div class="text-center"><img src="assets/badge/apple-ninja.png"></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width.%]="progressPercentage" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="num-of-assessments"> {{ (completedAssessments) ? completedAssessments : '0' }} / {{totalAssessments}} assessments completed</p>
            <p> Complete your profile and ALL Qualifying Assessments today to get your <span class="imp">Ninja Badge</span> and a chance to win an
                <span class="imp">iPad</span>
            </p>
    
        </div>
        <div class="list-group list-group-flush card3">
            <div class="left-view-assessment">
                <div mat-raised-button  class="d-flex justify-content-center" >
                    <a class="btn align-middle btn-primary" 
                    routerLink="/assessments">View Assessment</a>
                </div>
              
            </div>
        </div> -->

</div>