<!-- Page-->
<div class="page">

    <div class="header-section">
        <!-- <img class="header-img"
            src="/assets/What Sort of Content Should You Share on Social Media As a Job Seeker_Blog (3).jpg" alt=""
            style="width:100%"> -->
        <h1 class="main-title">What Sort of Content Should You Share on Social Media As a Job Seeker?</h1>
    </div>


    <div class="container ng-scope" id="blogContainer">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <!-- <h1>About Us</h1> -->
                        <!-- <h2>What Sort of Content Should You Share on Social Media As a Job Seeker?</h2> -->
                        <p>According to <a
                                href='https://www.shrm.org/hr-today/trends-and-forecasting/research-and-surveys/pages/social-media-recruiting-screening-2015.aspx'>
                                <strong>SHRM</strong> </a>,
                            <strong>93% of organizations use social media to source talent.</strong>
                        </p>
                        <div class="image-row mt-3 mb-3">
                            <div class="img-container">
                                <img class="footer-img" src="/assets/What Sort of Content first.jpg" alt="" width="">
                            </div>
                        </div>
                        <p>If your future boss is considering offering you a job, it’s probably safe to say they’ve seen
                            your LinkedIn profile and the content you share.
                            Spending an hour perusing your old blogs, tweets and shares is time well invested.
                        </p>
                        <p><strong>So, what should you be sharing and what is best avoided?
                            </strong></p>
                        <ul class="cookiespolicyul">
                            <li>
                                <p>Bad language, swearing or negative commentary of any kind</p>
                            </li>
                            <li>
                                <p>Any reference to illegal or potentially immoral activity</p>
                            </li>
                            <li>
                                <p>Controversial comments or beliefs (try to avoid politics and religion)</p>
                            </li>
                            <li>
                                <p>Poor spelling and grammar – it is not always possible to edit</p>
                            </li>
                            <li>
                                <p>Posting about trending topics to improve your content metrics</p>
                            </li>
                        </ul>
                        <div class="image-row mt-3 mb-3">
                            <div class="img-container">
                                <img class="footer-img" src="/assets/What Sort of Content second.jpg" alt="" width="">
                            </div>
                        </div>
                        <p>How could you use it to influence those potential employers in your direction?</p>
                        <p><strong>Curate content about your industry.
                            </strong> If you have an industry-focused network (and you should, especially on LinkedIn),
                            then liking and sharing industry content a couple of times a week demonstrates interest and
                            expertise.
                            Curate whatever your future boss might like while still staying true to who you are.</p>
                        <p><strong>Don’t fear sharing your interests and passions.
                            </strong> Sharing your interests allows for genuine
                            connections during the hiring process.
                        </p>
                        <p><strong>Support the odd post from potential employers.
                            </strong> Engage with your dream employers. Comment,
                            Like and Share their content and tag them. Follow the people working for the team you’d like
                            to
                            join to see what types of content they share, too. When the time comes that they’re hiring
                            or you
                            applied for the job, they’ll recognize your name as someone who is eager to learn and has
                            already
                            engaged with them.
                        </p>
                        <p><strong> Tell personal stories when you really care about a topic.
                            </strong> You know when you talk to
                            someone about something and suddenly become all animated. Those are the sorts of topics
                            where it
                            is okay to share a monologue now and again.
                        </p>
                        <p>Remember, sharing content online is not a popularity contest. Future employers will not judge
                            you on the amount of likes or engagement, so do not fall into the trap of only sharing what
                            seems
                            popular.
                        </p>
                        <p>Be yourself, everyone else is taken.
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>



</div>