<div class="container">
  <div class="signup-right-content">
    <form [formGroup]="resetForm" class="frmGrp">
      <mat-card class="red-shadow">
        <!-- <h5 class="title-1">
          <img class="logo-reset-img" src="assets/new/curately-logo.svg" alt="">
        </h5> -->
        <h5 class="title">Reset Password</h5>

        <mat-card-content>
          <mat-form-field class=" full-width-input mt-3 mb-3" appearance="outline">
            <mat-label>Email Id</mat-label>
            <input matInput placeholder="email" formControlName="email" required readonly />
            <mat-error class="errorMessage">
              <span *ngIf="resetForm.controls.email.errors?.required">Please enter a valid email ID. The email ID field
                cannot be
                blank.
              </span>
              <span *ngIf="resetForm.controls.email.errors?.email">The Email ID format is incorrect. Please enter a
                valid email
                ID.
              </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input mb-3" appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password"
              required />
            <mat-icon class="eye-icon" matSuffix (click)="hide = !hide">{{
              hide ? "visibility_off" : "visibility"
              }}</mat-icon>
            <!-- <mat-error class="errorMessage" *ngIf=" ((submitted && !resetForm.controls.password.touched) || resetForm.controls.password.touched)">
                            <span *ngIf="resetForm.controls.password.errors?.required">Please enter a valid Password. The Password field cannot be blank.</span>
                        </mat-error> -->
          </mat-form-field>
          <!--- ****** password error messages *******-->

          <div class="error-messages mb-3" *ngIf="
              (submitted && !resetForm.controls['password'].touched) ||
              resetForm.controls['password'].touched ||
              resetForm.controls['password'].value
            ">
            <p class="error-message_heading mb-2">
              Your password must contain:
            </p>
            <label class="col-sm-12 text-left" [ngClass]="
                resetForm.controls['password'].hasError('required') ||
                resetForm.controls['password'].hasError('minlength')
                  ? 'text-danger'
                  : 'text-success'
              ">
              <i class="material-icons">{{
                resetForm.controls["password"].hasError("required") ||
                resetForm.controls["password"].hasError("minlength")
                ? "circle"
                : "check"
                }}</i>
              <span class="error_outline"> At least 8 Characters</span>
            </label>

            <label class="col-sm-12 text-left" [ngClass]="
                resetForm.controls['password'].hasError('required') ||
                resetForm.controls['password'].hasError('hasSmallCase')
                  ? 'text-danger'
                  : 'text-success'
              ">
              <i class="material-icons">{{
                resetForm.controls["password"].hasError("required") ||
                resetForm.controls["password"].hasError("hasSmallCase")
                ? "circle"
                : "check"
                }}</i>
              <span> Lower case letters (a-z)</span>
            </label>
            <label class="col-sm-12 col-xs-12 text-left" [ngClass]="
                resetForm.controls['password'].hasError('required') ||
                resetForm.controls['password'].hasError('hasCapitalCase')
                  ? 'text-danger'
                  : 'text-success'
              ">
              <i class="material-icons">{{
                resetForm.controls["password"].hasError("required") ||
                resetForm.controls["password"].hasError("hasCapitalCase")
                ? "circle"
                : "check"
                }}</i>
              <span> Upper case letters (A-Z)</span>
            </label>
            <label class="col-sm-12 text-left px-0" [ngClass]="
                resetForm.controls['password'].hasError('required') ||
                resetForm.controls['password'].hasError('hasNumber')
                  ? 'text-danger'
                  : 'text-success'
              ">
              <i class="material-icons">{{
                resetForm.controls["password"].hasError("required") ||
                resetForm.controls["password"].hasError("hasNumber")
                ? "circle"
                : "check"
                }}</i>
              <span> Numbers (0-9)</span>
            </label>
          </div>
          <mat-form-field class="full-width-input mb-3" appearance="outline">
            <mat-label>Confirm Password above</mat-label>
            <input matInput placeholder="Must match with the New Password above" appConfirmEqualValidator="password"
              formControlName="confirmPassword" [type]="passwordhide ? 'password' : 'text'" required />
            <mat-icon class="eye-icon" matSuffix (click)="passwordhide = !passwordhide">{{ passwordhide ?
              "visibility_off" : "visibility" }}</mat-icon>
            <mat-error class="errorMessage" *ngIf="
                (submitted && !resetForm.controls.confirmPassword.touched) ||
                resetForm.controls.confirmPassword.touched
              ">
              <span *ngIf="resetForm.controls.confirmPassword.errors?.['required']">Please enter Confirm New Password.
                It can’t be blank.</span>
              <span *ngIf="resetForm.controls.confirmPassword.errors?.notEqual">Confirm New Password and New Password
                fields must match. Please
                correct entry.</span>
              <span *ngIf="
                  resetForm.controls.confirmPassword.errors?.['confirmedValidator']
                ">
                Passwords did not match with confirm Password
              </span>
            </mat-error>
          </mat-form-field>
          <mat-card-actions>
            <button (click)="createResetForm()" mat-raised-button [color]="color" (mouseover)="color = 'warn'"
              (mouseout)="color = 'accent'">
              Reset Password
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </form>
  </div>

  <mat-spinner color="warn" *ngIf="showSpinner"></mat-spinner>
</div>