:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: 1.25em;
}

.logo-reset-img {
  height: 50px;
  width: 150px;
}

.container {
  width: 100%;
  /* background-color:#DADADA; */
  /* padding: 1em; */
  /* important */
  display: flex;
  /* important */
  align-items: stretch;
  justify-content: space-around;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
}

/* .errorMessage{
    font-size: 12px;
      line-height: 14px;
     
      -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
      transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
      opacity: 1;
      margin-top: 0;
      padding-top: 5px;
      color: rgb(221,44,0);
  } */

.signup-left-content {
  width: 100%;
  background: white;
  color: grey;
  margin: 0 0.2em;
  padding: 0.5em;
  /* important */
  min-height: 100%;
}

.signup-right-content {
  width: 100%;
  background: white;
  color: grey;
  margin: 0 0.2em;
  padding: 0.5em;
  /* important */
  min-height: 100%;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
}

mat-form-field {
  display: block;
}

.title-para {
  letter-spacing: normal;
  font-size: 14px;
  text-align: center;
  color: #29293a;
}

.title-1 {
  letter-spacing: normal;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1.25em;
  text-align: center;
}

.title {
  letter-spacing: normal;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 1.3em;
  text-align: center;
}

.forgot-link {
  letter-spacing: normal;
  font-size: 12px;
  font-weight: bold;
  margin-top: 16px;
}

.forgot-link a {
  color: #ed1c94;
  font-family: "Poppins", sans-serif !important;
}

.forgot-link a:hover {
  color: #6d0eb1;
  font-family: "Poppins", sans-serif !important;
}

/* button.mat-raised-button {
     width:200px;
     height: 45px;
}  */

/* button.mat-raised-button:hover {
  background-color: rgb(119,15,194)
} */

.mat-card-actions {
  padding: 18px;
  text-align: center;
}

.eye-icon {
  /* float: right;
  position: relative;
  top: -30px;
  right: 25px; */
  cursor: pointer;
}

.error-messages {
  margin-top: -30px;
  text-align: left;
}

.error-messages .text-success i.material-icons {
  /* font: normal normal bold 14px/19px Open Sans; */
  letter-spacing: 0px;
  color: #049c28 !important;
}

.error-messages .text-danger {
  /* font: normal normal bold 14px/19px Open Sans; */
  letter-spacing: 0px;
  color: #111111 !important;
  display: block;
}

.error-messages .text-success {
  /* font: normal normal bold 14px/19px Open Sans; */
  letter-spacing: 0px;
  color: #049c28 !important;
  display: block;
  text-align: left !important;
}

.text-danger .material-icons {
  display: inline-flex;
  vertical-align: middle;
  font-size: 8px;
  line-height: 12px;
  width: 24px;
}

.text-success .material-icons {
  display: inline-flex;
  vertical-align: middle;
  font-size: 17px;
  line-height: 12px;
  width: 24px;
}

/** pasword-ruls **/
::ng-deep .password .mat-form-field-wrapper {
  padding-bottom: 0px !important;
  /* border-radius: 5px;
    border: 2px solid #e1eaf8;
    color: #f4f5f8; */
}

/* .error-messages {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 3px;
  opacity: 1;
  padding: 0.6rem;
  max-width: 100%;
  width: 100%;
  display: block;
  font-family: Open Sans;
} */

.error-messages {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 3px;
  opacity: 1;
  padding: 0.6rem;
  max-width: 100%;
  width: 94%;
  display: block;
  margin-left: 10px;
  font-size: 15px;
}

.error-message_heading {
  font-size: 15px;
  color: #111111;
}


@media screen and (max-width:640px) {
  .frmGrp {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1260px) {
  mat-card {
    margin: 6em auto;
  }
}