<div class="page">
  <div class="header-section">
    <h1 class="main-title">Blogs</h1>
</div>
    <section id="blogposts" class="section section-lg_inactive bg-gray-lighter vinsection">
        <div class="shell-wide">
          <div class="range">
            <div class="cell-xs-12">
              <h3 class="secheading">Latest blog posts</h3>
              <!-- <div class="divider divider-default_"></div> -->
            </div>
          </div>
          <div class="range range-30 range-xs-center justify-content-md-start row">
            <!-- <div class="col-12 col-md-4 col-lg-6">
              <article class="post-blog-large">
                <figure class="post-blog-large-image"><img src="/assets/blog-01-868x640.svg" alt="" width="868"
                    height="640" />
                </figure>
                <ul class="post-blog-meta">
                  <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                  <li>
                    <time datetime="2018">Feb, 27 2018 at 5:47 pm</time>
                  </li>
                </ul>
                <div class="post-blog-large-caption">
                  <ul class="post-blog-tags">
                    <li><a class="button-tags" href="javascript:void(0)">News</a></li>
                  </ul><a class="post-blog-large-title" href="javascript:void(0)">How to Turn Small Talk <br
                      class="veil reveal-sm"> into Smart Conversation</a>
                  <p class="post-blog-large-text">One way to get beyond small talk is to ask open-ended questions. Aim for
                    questions that invite people to tell stories, rather than give bland, one-word answers.</p><a
                    class="button button-xs button-secondary button-nina">Continue reading</a>
                </div>
              </article>
            </div> -->

             <!-- Blog 20 -->
             <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/How-to-Determine-If-a-Companys-Culture-Is-Right-For-You?"><img
                    src="/assets/How to Determine If a Company’s Culture Is Right For You (1).png" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/How-to-Determine-If-a-Companys-Culture-Is-Right-For-You?">How-to-Determine-If-a-Companys-Culture-Is-Right-For-You?</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Nov 22, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>
            <!-- Blog 19 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/4-Reasons-to-Be-Thankful-for-The-Job-Search-This-Season"><img
                    src="/assets/_4 Reasons to Be Thankful for The Job Search This Season  (4).png" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/4-Reasons-to-Be-Thankful-for-The-Job-Search-This-Season">4 Reasons to Be Thankful for The Job Search This Season</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Nov 22, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>
            <!-- Blog 18 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/What-to-Consider-To-Find-a-Job-That-Makes-You-Happy"><img
                    src="/assets/What to Consider To Find a Job That Makes You Happy (1).png" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/What-to-Consider-To-Find-a-Job-That-Makes-You-Happy">What to Consider To Find a Job
                      That Makes You Happy</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Nov 15, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>
            <!-- Blog 17 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/How-to-Capture-an-Employers-Attention-This-Holiday-Season"><img
                    src="/assets/How to Capture an Employer's Attention This Holiday Season (3).png" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/How-to-Capture-an-Employers-Attention-This-Holiday-Season">How to Capture an Employer's
                      Attention This Holiday Season</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Nov 15, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>
            <!-- Blog 16 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/How-to-Be-Inclusive-During-the-Interview-Process"><img
                    src="/assets/How to Be Inclusive During the Interview Process.png" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/How-to-Be-Inclusive-During-the-Interview-Process">How to Be Inclusive
                      During the Interview Process</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Nov 08, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>
            <!-- Blog 15 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/All-Things-Considered-Preferred-Pronouns-Names-on-Resumes"><img
                    src="/assets/All Things Considered Preferred Pronouns & Names on Resumes.png" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/All-Things-Considered-Preferred-Pronouns-Names-on-Resumes">All Things Considered:
                      Preferred Pronouns & Names on Resumes</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Nov 08, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>
            <!-- Blog 14 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/The-Antidote-to-Candidate-Ghosting-Be-an-Employer-of-Choice"><img
                    src="/assets/The Antidote to Candidate Ghosting Be an Employer of Choice.png" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/The-Antidote-to-Candidate-Ghosting-Be-an-Employer-of-Choice">The Antidote to Candidate Ghosting? Be an Employer of Choice.</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Nov 02, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>
            <!-- Blog 13 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/Breaking-into-Tech-Tips-for-Women"><img
                    src="/assets/Breaking into tech tips for women.png" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/Breaking-into-Tech-Tips-for-Women">Breaking into Tech Tips for Women</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Oct 25, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>
            <!-- Blog 12 -->

            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/How-to-Build-a-Cybersecurity-Team-in-2022"><img
                    src="/assets/Blog_Main Image_How to build a cybersecurity team in 2022.png" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/How-to-Build-a-Cybersecurity-Team-in-2022">How to Build a Cybersecurity Team in 2022</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Oct 25, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>
            
            <!-- Blog 11 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/3-Ways-to-Make-Your-Cybersecurity-Resume-Stand-Out"><img
                    src="/assets/Blog_Main Image_Cybersecurity Resume.png" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/3-Ways-to-Make-Your-Cybersecurity-Resume-Stand-Out">3 Ways to Make Your Cybersecurity Resume Stand Out</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Oct 18, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>
            <!-- Blog 10 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/why-you-should-talk-about-your-diversity-during-your-interview"><img
                    src="/assets/Blog_Main Image_Why You Should Talk About Your Diversity at Interview.jpg" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/why-you-should-talk-about-your-diversity-during-your-interview">Why You Should Talk About Your Diversity During Your Interview</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Oct 11, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>
            <!-- Blog 09 -->

            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/what-sort-of-content-should-you-share-on-social-media-as-a-job-seeker"><img
                    src="/assets/Blog_Main Image_What Sort of Content Should You Share on Social Media As a Job Seeker.jpg" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/what-sort-of-content-should-you-share-on-social-media-as-a-job-seeker">What Sort of Content Should You Share on Social Media As a Job Seeker?</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Oct 11, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>

            <!-- Blog 08 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/should-you-create-an-interview-script-or-go-with-the-flow"><img
                    src="/assets/Blog_Main Image_interview script.png" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/should-you-create-an-interview-script-or-go-with-the-flow">Should You Create An Interview Script or Go With The Flow?</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Oct 11, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>

             <!-- Blog 07 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/how-to-engage-with-your-linkedin-connections-regularly-and-how-it-helps-the-job-search"><img
                    src="/assets/Blog_Main Image_How to Engage With Your LinkedIn Connections Regularly and How It Helps The Job Search.png" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/how-to-engage-with-your-linkedin-connections-regularly-and-how-it-helps-the-job-search">How to Engage With Your LinkedIn Connections Regularly and How It Helps The Job Search</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Oct 11, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>

            <!-- Blog 06 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/how-to-deal-with-the-spectre-of-loneliness-in-a-job-search"><img
                    src="/assets/Blog_Main Image_How to Deal with the Spectre of Loneliness in a Job Search.png" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/how-to-deal-with-the-spectre-of-loneliness-in-a-job-search">How to Deal with the Spectre of Loneliness in a Job Search</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Oct 11, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>
            <!-- Blog 05 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/8-things-to-do-before-you-write-your-resume"><img
                    src="/assets/Blog_Main Image_8 Things to Do Before You Write Your Resume.png" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/8-things-to-do-before-you-write-your-resume">8 Things to Do Before You Write Your Resume</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Oct 11, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>

            <!-- Blog 04 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/6-reasons-for-employment-gaps-and-how-to-discuss-them-in-the-interview-process"><img
                    src="/assets/Blog_Main Image_6 Reasons for Employment Gaps and How To Discuss Them In The Interview Process.jpg" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/6-reasons-for-employment-gaps-and-how-to-discuss-them-in-the-interview-process">6 Reasons for Employment Gaps and How To Discuss Them In The Interview Process</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Oct 11, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>
            <!-- Blog 03 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/how-to-train-your-memory-for-a-job-interview"><img
                    src="/assets/Blog_Main Image_How To Train Your Memory for a Job Interview.jpg" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/how-to-train-your-memory-for-a-job-interview">How To Train Your Memory for a Job Interview</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Oct 11, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>

            <!-- Blog 02 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/the-role-of-subtle-repetition-on-your-resume-to-sell-your-story"><img
                    src="/assets/Blog_Main Image_The Role of Subtle Repetition on Your Resume to Sell Your Story.jpg" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/the-role-of-subtle-repetition-on-your-resume-to-sell-your-story">The Role of Subtle Repetition on Your Resume to Sell Your Story</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Oct 11, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>

            <!-- Blog 01 -->
            <div class="col-12 col-md-4">
              <article class="post-blog"><a class="post-blog-image" routerLink="/How-to-Make-the-Most-of-Working-with-a-Career-Coach"><img
                    src="/assets/Blog_Main Image_How to Make the Most of Working with a Career Coach.jpg" alt="" width="868" height="640" /></a>
                <div class="post-blog-caption">
                  <div class="post-blog-caption-header">
                    <!-- <ul class="post-blog-tags">
                      <li><a class="button-tags" href="javascript:void(0)">Tips & Tricks</a></li>
                    </ul> -->
                    <!-- <ul class="post-blog-meta">
                      <li><span>by</span>&nbsp;<a href="javascript:void(0)">Ronald Chen</a></li>
                    </ul> -->
                  </div>
                  <div class="post-blog-caption-body">
                    <h5><a class="post-blog-title" routerLink="/How-to-Make-the-Most-of-Working-with-a-Career-Coach">How to Make the Most of Working with a Career Coach</a></h5>
                  </div>
                  <div class="post-blog-caption-footer">
                    <time datetime="2018">Oct 11, 2021 at 6:53 pm</time>
                    <!-- <a class="post-comment"
                      href="javascript:void(0)"><span
                        class="icon icon-md-middle icon-gray-1 mdi mdi-comment"></span><span>12</span></a> -->
                  </div>
                </div>
              </article>
            </div>
            
          </div>
        </div>
      </section>
</div>