:host ::ng-deep .ck.ck-editor__editable {
	min-height: 200px;
}
mat-form-field {
    width: 100%;
}

.cur-title {
   margin-bottom: 1em;
}
.cur-main-add {
    cursor: pointer;
}
.cur-main-add-button {
    font-size: 14px;
    font-weight: bold;
}
.cur-main-add-circle-outline {
    float: left;
    margin-right:5px;
}
.section-expansion{
    border: 1px solid #29293a;
}
.example-custom-date-class {
    background: orange;
    border-radius: 100%;
  }

  .employment-form{
    border: 1px solid #aaa;
    position: relative;
}
.employment-form .close-icon{
    position: absolute;
    top: -15px;
    right: -8px;
    cursor: pointer;
}
.lc-container {
    margin: 5px auto;
}
.drop-zone-zrea{
    height: 45px;
    color: #fff;
    font-size: 14px;
    overflow: hidden;
    background: #0145df;
    border: none;
}

button.licsavebtn.btn-primary, button.licsavebtn.btn-primary:focus, button.licsavebtn.btn-base, button.licsavebtn.btn-base:focus {
    padding: 10px 62px !important;

}
