<div class="page">
    <div class="header-section">
        <!-- <img class="header-img" src="/assets/Subpage_Interview Prep_Header.jpg" alt="" style="width:100%"> -->
        <h1 class="main-title">interview Preparation</h1>
    </div>
    <div class="container ng-scope" id="jobconContainer">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-body"> 
                        <div class="cell-sm-12 cell-lg-10 cell-xl-3 mt-3 mb-3">
                            <div class="range range-30">
                            <div class="cell-sm-6 cell-xl-12">
                                <div class="header-primary" style="text-align: center; margin-top: 100px;">
                                    <h2>Ready to ace your interview?</h2>
                                    <div class="sub-primary-text">
                                    <p>92% of job seekers fear the job interview process, whether it be nerves, 
                                        imposter syndrome, answering difficult questions or lack of preparation.</p>
                                    </div>
                                </div></div>
                            <div class="cell-sm-6 cell-xl-12">
                                <figure><img src="/assets/Subpage_interview prep_Top right graphic_latest.png" alt="" width="600" height="600"/>
                                </figure></div>
                            </div>
                        </div>

                        <div class="header-primary" style="text-align: center; margin-top: 100px;">
                            <h2>We’re here to make you the other 8%.</h2>
                            <div class="sub-primary-text">
                            <p>Lets polish up those interview skills. </p>
                            </div>
                        </div>


                        <div class="row" id="container">
                            <div class="column">
                              <div class="card">
                                <h3>1:1 coaching</h3>
                                <p>Choose between a phone or video call for a career coach session. You’ll work together to get you interview ready. </p>
                              </div>
                            </div>
                            <div class="column">
                                <div class="card">
                                    <h3>Detailed session notes</h3>
                                    <p>Each coaching session is recorded so you can review, practice and hear our 
                                        expert advice as often as you’d like leading up to your interview.  </p>                              
                                </div>
                            </div>
                            <div class="column">
                                <div class="card">
                                    <h3>Personalized plan</h3>
                                    <p>Your coach will create a custom blueprint for interview success, 
                                        targeting specific questions and interview styles. 
                                    </p>                              
                                </div>
                            </div>
                            
                        </div>
                        <div class="cell-sm-6 cell-xl-12 d-flex justify-content-center pt-5 pb-5">
                            <p class="button-primary-meta"><a routerLink="/contactus">Get started for free</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    