<div class="page">
    <div class="header-section">        
        <h1 class="main-title">Upskill & Reskill</h1>
    </div>
    <div class="container ng-scope" id="jobconContainer">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-body"> 
                        <div class="cell-sm-12 cell-lg-10 cell-xl-3 mt-3 mb-3">
                            <div class="range range-30">
                            <div class="cell-sm-6 cell-xl-12">
                                <div class="header-primary" style="text-align: center; margin-top: 100px;">
                                    <h2>Upgrade yourself</h2>
                                    <div class="sub-primary-text">
                                    <p>You bring the drive and commitment and we’ll provide the guidance and 
                                        financial support you need to upskill or reskill. 
                                    </p>
                                    </div>
                                </div></div>
                            <div class="cell-sm-6 cell-xl-12">
                                <figure><img src="/assets/Subpage_upskill reskill_Top right graphic_latest.png" alt="" width="600" height="600"/>
                                </figure></div>
                            </div>
                        </div>

                        <div class="header-primary" style="text-align: center; margin-top: 100px;">
                            <h2>Learn new skills & strengthen current skills</h2>
                            <div class="sub-primary-text">
                            <p>we are on a mission to help 10,000 candidates achieve financial and professional successby 
                                offering carrer transition and advancement training for free.</p>
                            </div>
                        </div>


                        <div class="row" id="container">
                            <div class="column">
                              <div class="card">
                                <h3>Talk to us</h3>
                                <p>Connect with one of our expert career coaches.  </p>
                              </div>
                            </div>
                            <div class="column">
                                <div class="card">
                                    <h3>Personalized plan</h3>
                                    <p>We work with you to identify skill gaps and determine 
                                        the training program that meets your unique needs.</p>                              
                                </div>
                            </div>
                            <div class="column">
                                <div class="card">
                                    <h3>We support you</h3>
                                    <p>We don’t only offer financial support, but the 1:1 mentorship of our industry experts.  
                                    </p>                              
                                </div>
                            </div>
                            
                        </div>
                        <div class="cell-sm-6 cell-xl-12 d-flex justify-content-center pt-5 pb-5">
                            <p class="button-primary-meta"><a routerLink="/contactus">I’m ready to get started</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    