    <!-- Page-->
    <div class="page">

        <div class="header-section">
            <!-- <img class="header-img" src="/assets/6 Reasons for Employment Gaps_Blogs_Header.jpg" alt="" style="width:100%"> -->
            <h5 class="main-title">6 Reasons for Employment Gaps and How To Discuss Them In The Interview Process</h5>
        </div>
     
        
        
        <div class="container ng-scope" id="blogContainer">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="media">
                        <div class="media-body">
                            <!-- <h1>About Us</h1> -->
                            <!-- <h2>6 Reasons for Employment Gaps and How To Discuss Them In The Interview Process</h2> -->
                            <p>No employer will expect your career path to be without obstacles, bumps or pauses. 
                            </p>
                            <p>Employment gaps are part of a life fully lived as you strive to find your direction,
                                 take time out for yourself or others and react to the challenges that come your way.
                            </p>
                            <p>If the gap did not last long or if it was a long time ago, then it may be less relevant
                                 to employers. However, if the gap was within the last 10-15 years, it’s likely to come 
                                 up during your interview process. 
                            </p>
                            <p>Be sure to include an explanation for any employment gap over 6-9 months. Anything over
                                 that will invite questions and it’s encouraged to answer truthfully. 
                           </p>
                           <div class="image-row mt-3 mb-3">
                            <div class="img-container">
                                <img class="footer-img" src="/assets/6 Reasons for Employment Gaps Blogs_Graphic Quote.jpg" alt="" width="">
                            </div>
                        </div>
                           <!-- <div class="card">
                                <div class="card-body">
                                    <h2 style="text-align: center;">Explaining the gap <strong>honestly, reassuringly</strong>and <strong>succinctly </strong>is 
                                        key to keeping the focus on your<strong>successes, abilities, skills</strong>and <strong>experience.</strong>
                                    </h2>
                                </div>
                            </div> -->
                            <p>We explore three reasons for employment gaps that are easier to explain and three that may require 
                                context. However, rest assured that all of them are common and acceptable.
                            </p>
                            <!-- <div class="cell-sm-6 cell-xl-12">
                                <figure><img src="/assets/6 Reasons for Employment Gaps and How To Discuss Them In The Interview Process_Blogs_In Blog Graphic 1.jpg" alt="" width="600%" height="600%"/>
                                </figure>
                            </div> -->
                            <p><strong>Pregnancy / childcare.</strong> While some employers will sadly frown on periods out for childcare, they are <strong>not</strong> the sort of employers that you want to be working for. You should <strong>never</strong> be asked about your familial situation or obligations at an interview but including a note in your resume is completely normal.
                            </p>
                            <p><strong>Education.</strong> A lot of people take  time out for education, whether it’s relevant to their current career field or a completely new one. Either way, openly discuss your education. It shows that you can work hard towards a goal and invest time and energy into learning something new. </p>
                            <!-- <div class="cell-sm-6 cell-xl-12">
                                <figure><img src="/assets/6 Reasons for Employment Gaps and How To Discuss Them In The Interview Process_Blogs_In Blog Graphic 2.jpg" alt="" width="600%" height="600%"/>
                                </figure>
                            </div> -->
                            <p><strong>Illness.</strong>Whether you have been ill, or you have been looking after a sick relative, a gap in employment due to this can’t be disputed. You are under no obligation as a job seeker or employee to disclose details and cannot be discriminated against, either. 
                            </p>
                            <p><strong>Termination.</strong> Show how you used your job search period positively, whether it be volunteering, continued education or anything having to do with bettering oneself.  Illustrate how you bounced back and improved your performance and highlight successes in previous roles. 
                            </p>
                            <p><strong>Sabbatical.</strong>Personal growth and travel can be incredibly beneficial for any future employer, so if you can quantify this growth after any time out or volunteering activity, then you should be proud to include it in your job search sales pitch. 
                            </p>
                            <p><strong>Career change.</strong>Becoming self-employed or changing industries is a common reason to leave a job. Things don’t always go as planned or you may in fact realized that working for oneself isn’t for you. And that’s OK! Explain what you learned from your experiences and how it helped guide you to your current state. 
                            </p>
                            <p>Remember: You are human and life happens. It’s not always a clear coast. There may be bumps in the road, but it’s how you go over them and overcome that matters. 
                            </p>
                                

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        
    </div>
      
        