<!-- Page-->
<div class="page">
    <div class="header-section">        
        <h1 class="main-title">FAQ<span class="lowerCase">s</span></h1>
    </div>
    <!-- <div class="container-fluid bg-dark py-4">
        <div class="container">
            <div class="row innerpage">
                <div class="col-12 text-center">
                    <h1 class="h-white">FAQs</h1>
                </div>
            </div>
        </div> -->
        
    </div>
    <div class="container ng-scope" id="faqsContainer">
        <div class="row innerpage">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Employers:</h2>
                <!--  -->
                <div class="accordion" id="employerfaqs">
                    <!-- 1 -->
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                How can my business engage Incredible Me!?
                            </button>
                        </h4>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#employerfaqs">
                            <div class="accordion-body">
                                Check out our <a
                                routerLink='/hiretalent'> <strong>Employer Page</strong> </a> to learn more about how to partner with us.
                            </div>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                What is a returnship program?
                            </button>
                        </h4>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#employerfaqs">
                            <div class="accordion-body">
                                <p> Life happens. We have children, become full-time caregivers for family members, take a sabbatical or one of the other many reasons people press pause on their careers. When it’s time to re-enter the workforce, we’re here to make the transition seamless.</p>

                                <p> Our <a routerLink="/returnshipprogram" target="_blank"> <strong> Returnship Program </strong></a> offers services to those returning to work, whether it be upskilling, reskilling, updating their resume, interview prep, applying to jobs or all of the above. We take the stress out of returning to work. All job seekers have to do is be their incredible selves.  
                                </p>
                               
                            </div>
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                What type of roles are the talent in your network looking for?
                            </button>
                        </h4>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#employerfaqs">
                            <div class="accordion-body">
                                Incredible Me! members are qualified for a variety of roles ranging from technical support to security support analysts, developers, network, process and iOS engineers, project managers, executive level technical roles and so much more.
                            </div>
                        </div>
                    </div>
                    <!-- 4 -->
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                Where do you find your talent network?
                            </button>
                        </h4>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#employerfaqs">
                            <div class="accordion-body">
                                Incredible Me! Is powered by ASK Consulting, a staffing and solutions firm based out of Atlanta, Georgia. Between their resources and diverse talent cloud and our strategic partnerships with incredible organizations who are committed to diversifying the workplace, we have access to the world’s greatest talent. 
                            </div>
                        </div>
                    </div>
                    <!-- 5 -->
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                What type of company is Incredible Me! appropriate for?
                            </button>
                        </h4>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#employerfaqs">
                            <div class="accordion-body">
                                Incredible Me! is for everyone. If you care about creating a diverse, inclusive and equitable workforce, we’ll help you get there through our diverse talent pool.
                            </div>
                        </div>
                    </div>
                    <!-- 6 -->
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                Does Incredible Me! work cohesively with our company’s current contingent labor program managed through a MSP?
                            </button>
                        </h4>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#employerfaqs">
                            <div class="accordion-body">
                                Yes, we’re here to work with you through it all. Inquire today to speak 1:1 with us about how to hook up your business w ith Incredible Me!
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <h2>Job Seekers:</h2>
                <!--  -->
                <div class="accordion" id="seekerfaqs">
                    <!-- 1 -->
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="faqOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseJS1" aria-expanded="false" aria-controls="collapseTwo">
                                Who can join Incredible Me!?
                            </button>
                        </h4>
                        <div id="collapseJS1" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#seekerfaqs">
                            <div class="accordion-body">
                                <p>
                                    <strong>Everyone.</strong> <br>

                                    <strong>Everyone</strong> who ever needed mentorship but didn’t or couldn’t get it. <strong>Everyone</strong> whose ever been told no. <strong>Everyone</strong> whose ever believed they could, but life got in the way. We want to see you succeed no matter your economic status, race or creed...or anything else for that matter.</p>

                                 <p>When we say <strong>everyone</strong>, we mean it. </p>
                            </div>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseJS2" aria-expanded="false" aria-controls="collapseThree">
                                How much does it cost to use Incredible Me! Services?
                            </button>
                        </h4>
                        <div id="collapseJS2" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#seekerfaqs">
                            <div class="accordion-body">
                                In order to be truly inclusive, all of our services are free.
                            </div>
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseJS3" aria-expanded="false" aria-controls="collapseThree">
                                Will it cost me money to apply for jobs?
                            </button>
                        </h4>
                        <div id="collapseJS3" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#seekerfaqs">
                            <div class="accordion-body">
                                No, you don’t pay a dime to apply to any of the roles we have available via Incredible Me! 
                            </div>
                        </div>
                    </div>
                    <!-- 4 -->
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseJS4" aria-expanded="false" aria-controls="collapseThree">
                                I don’t see the right opportunities for me. What next?
                            </button>
                        </h4>
                        <div id="collapseJS4" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#seekerfaqs">
                            <div class="accordion-body">
                                When you sign up for Incredible Me!, you’re assigned an expert mentor to help through every step of your journey. Discuss anything and everything with them and we can guide you through which one of our resources is best for you in this unique stage of your job search.
                            </div>
                        </div>
                    </div>                   
                <!--  -->               
            </div>
        </div>
    </div>
</div>