<div id="wrapper" class="dashboard-box">
    <div class="container px-sm-0">


        <!-- Thanks for joing -->
        <div class="card mb-3 row text-center success-tab mb-1 px-2">
            <div class="thankyoujob">
                <!-- <div class="card-header"></div> -->
                <div class="card-body">

                    <h2 class="success mb-1">
                        <i class="fa-regular fa-check-circle"></i>
                    </h2>
                    <h2 class="card-title success">This Job is already applied by you</h2>
                    <button class="return-btn-style" mat-flat-button (click)="backtoresults()">
                        <img class="left-arrow-style" src="assets/icons/arrow-left.svg" />
                        <span>Back to results</span>
                    </button>
                </div>
            </div>
        </div>



    </div>


</div>