    <!-- Page-->
    <div class="page">

        <div class="header-section">
            <!-- <img class="header-img" src="/assets/The Role of Subtle Repetition Blog_Header.png" alt="" style="width:100%"> -->
            <h5 class="main-title">The Role of Subtle Repetition on Your Resume to Sell Your Story</h5>
        </div>
     
        
        
        <div class="container ng-scope" id="blogContainer">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="media">
                        <div class="media-body">
                            <!-- <h1>About Us</h1> -->
                            <!-- <h2>The Role of Subtle Repetition on Your Resume to Sell Your Story</h2> -->
                            <p>When you listen to a song or read a poem, the repetition of chords or patterns 
                                of rhyme can leave a lasting impact on your brain. Certain words reinforce themselves 
                                and tend to echo long after the song has ended, or the poetry book closed. Repetition 
                                is mesmerizing, as Elizabeth Margulis <a href='https://ed.ted.com/lessons/why-we-love-repetition-in-music-elizabeth-hellmuth-margulis'> <strong>explored</strong> </a> in a fascinating TED talk.
                            </p>
                            <p>In a similar way, in the advertising world, “effective frequency” is a marketing term that
                                describes the idea that a consumer should be exposed to a certain message a number of times 
                                before it is absorbed. Familiarity creates sales and exposure breeds comfort.
                            </p>
                            <p>When your potential future boss reads your resume, they subconsciously want to read a career 
                                story that hits them in all the right spots. Again, and again and again. 
                            </p>
                            <!-- <div class="card">
                                <div class="card-body">
                                  <h2 style="text-align: center;"><strong>Subtle repetition</strong> of the right messages could be the key <strong>differentiator in your job search.</strong></h2>
                                </div>
                            </div> -->
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/The Role of Subtle Repetition Img1.png" alt="" width="">
                                </div>
                            </div>
                            <div class="video-row mt-3 mb-3">
                                <div class="column">
                                    <video width="100%" height="300" controls>
                                        <source src="/assets/The Role of Subtle Repetition on Your Resume to Sell Your Story_Blog.mp4" type="video/mp4">
                                    </video>                               
                                 </div>
                            </div>
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/The Role of Subtle Repetition_STEP 1.jpg" alt="" width="">
                                </div>
                            </div>
                            <!-- <h3 style="text-align: left;"><strong>Step One:</strong> Make a decision about the key messages that you want to convey.</h3>    -->
                            <p>Do you want to convey you’re an innovator? Team player? Collaborative? Consider the role from the 
                                hiring manager’s point of view. What does your future boss want from you and how can your past 
                                experiences demonstrate that you have what it takes?</p>
                            <p>Read the job description and consider which aspects of the language you want to mirror. Look at how
                                your potential employer and their people communicate online – is there anything there that is worth
                                repeating to align yourself with what they want while still being authentically you?</p>
                                <div class="image-row mt-3 mb-3">
                                    <div class="img-container">
                                        <img class="footer-img" src="/assets/The Role of Subtle_STEP 2.jpg" alt="" width="">
                                    </div>
                                </div>
                            <!-- <h3 style="text-align: left;"><strong>Step Two:</strong>Pick the top three most suitable chapters of your career story.</h3>    -->
                            <p>...and a couple of powerful character traits that mark you out as the go-to candidate.</p>
                            <p>Consider the language that you might use to tell these stories. Include evocative action verbs, descriptive 
                                adjectives and specific industry jargon. You’ll want to deploy these linguistic devices in the 
                                specific “employment history” sections for each accomplishment, but you can also use similar language elsewhere.</p>
                            <p>You’ll want to be careful not to use the exact same words, as that will seem too obvious. We suggest you repeat 
                                and reinforce the greatest hits of your career in the other sections of your resume. </p>
                            <!-- <h3 style="text-align: left;"><strong>Step Three:</strong>Offer a tanatalizing taste in the resume summary.</h3>    -->
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/The Role of Subtle Repetition_STEP 3.jpg" alt="" width="">
                                </div>
                            </div>
                            <p>Use the skills section to come up with some suitable synonyms (that the ATS software will also appreciate). 
                                Let the accomplishments from your current or previous role ripple into what you’ve achieved in others. </p>
                                <!-- <div class="card">
                                    <div class="card-body">
                                      <h2 style="text-align: center;"><strong>Repetition of success</strong> is a recipe to be<strong>remembered.</strong></h2>
                                    </div>
                                </div> -->
                                <div class="image-row mt-3 mb-3">
                                    <div class="img-container">
                                        <img class="footer-img" src="/assets/The Role of Subtle Repetition footer.jpg" alt="" width="">
                                    </div>
                                </div>
                            <p>Life is a continuous journey, and the most successful careers have an echo of learning and development 
                                from one employer to the next. 
                            </p>
                            <p>Next time you listen to a song or see an ad online, take a minute to think just how the mechanism of repetition is affecting you. Why wouldn’t you want to put that same exposure effect to work in your job search?
                            </p>


                            

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        
    </div>
      
        