<div class="page">
    <div class="header-section">
        <!-- <img class="header-img" src="/assets/Subpage_Job Concierge_Header.jpg" alt="" style="width:100%"> -->
        <h1 class="main-title">job Concierge</h1>
    </div>
    <div class="container ng-scope" id="jobconContainer">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-body"> 
                        <div class="cell-sm-12 cell-lg-10 cell-xl-3 mt-3 mb-3">
                            <div class="range range-30">
                            <div class="cell-sm-6 cell-xl-12">
                                <div class="header-primary" style="text-align: center; margin-top: 100px;">
                                    <h2>Take advantage of our free Job Concierge.</h2>
                                    <div class="sub-primary-text">
                                    <p>On average it takes 100 to 200 job applications to get one job offer. 
                                        That’s where we come in to help. </p>
                                    </div>
                                </div></div>
                            <div class="cell-sm-6 cell-xl-12">
                                <figure><img src="/assets/Subpage_job concierge_Top right graphic_latest.png" alt="" width="600" height="600"/>
                                </figure></div>
                            </div>
                        </div>

                        <div class="header-primary" style="text-align: center; margin-top: 100px;">
                            <h2>The job search is stressful. You don’t have to do it alone.</h2>
                            <div class="sub-primary-text">
                            <p>Allow our virtual assistants to search and apply to jobs for you.</p>
                            </div>
                        </div>


                        <div class="row" id="container">
                            <div class="column">
                              <div class="card">
                                <h3>Tell us what YOU want</h3>
                                <p>Your ideal salary, commute time, part-time or full-time and if you’re open to travel.</p>
                              </div>
                            </div>
                            <div class="column">
                              <div class="card">
                                <h3>Virtual job search assistant</h3>
                                <p>Our experts will handpick job leads specifically to fit your experience, 
                                    skill set and personal preferences. </p>
                              </div>
                            </div>
                            <div class="column">
                                <div class="card">
                                    <h3>We apply for you</h3>
                                    <p>Your personal job search expert will fill in and submit job 
                                        applications on your behalf and send you a weekly report. </p>                              
                                </div>
                            </div>
                            
                        </div>
                        <div class="cell-sm-6 cell-xl-12 d-flex justify-content-center pt-5 pb-5">
                            <p class="button-primary-meta"><a routerLink="/contactus">Sign me up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    