    <!-- Page-->
    <div class="page">

        <div class="header-section">
            <!-- <img class="header-img" src="/assets/Why You Should Talk About Your Diversity During Your Interview_Blog.jpg" alt="" style="width:100%"> -->
            <h5 class="main-title">All Things Considered:<br> <span style="color: red;">Preferred Pronouns & Names on Resumes</span></h5>
        </div>
     
        
        
        <div class="container ng-scope" id="blogContainer">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="media">
                        <div class="media-body">
                            <!-- <h1>About Us</h1> -->
                            <!-- <h2>Why You Should Talk About Your Diversity During Your Interview</h2> -->
                            <p>The job search is an anxiety-producing process on its own. However, navigating issues of 
                                gender and identity can make the journey even more daunting.
                            </p>
                            <p>Choosing whether to include your preferred pronouns or name can be an overwhelming decision 
                                for many job seekers. 
                            </p>
                            <p>We’ve gathered the most common questions on this subject and their respective answers to help 
                                job seekers make the best decision for their needs.
                            </p>
                           
                            <p>However you identify, here’s what you should consider:
                            </p>
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/sec.png" alt="" width="">
                                </div>
                            </div>
                            <!-- <p><strong>1. Extend competitive offers</strong></p> -->
                            <p>Yes. The answer is simple. It is perfectly fine to include your preferred name and pronouns on a resume. 
                                A resume is not a legal-standing document by any means.
                            </p>
                            <p>The only legal matter you should be concerned about is using your legal name, if different from your preferred name, 
                                during the application process for background checks. Employers need your official name of record to perform audits of this nature. 
                            </p>
                            
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/third.png" alt="" width="">
                                </div>
                            </div>
                            <!-- <p><strong>2. Have an agile, efficient interview and hiring process </strong></p> -->
                            <p>Including your preferred pronoun is a personal choice-there is no right or wrong answer.
                            </p>
                            <p>However, there is much to consider when deciding to include your preferred pronouns on a resume. <strong>Inclusivity at an employer might be important to you.</strong> 
                                Some job seekers might want to present this information to promote and normalize gender diversity. Leading with your pronouns may also help filter out 
                                companies who aren’t as inclusive during your job search. </p>
                            
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/fourth.png" alt="" width="">
                                </div>
                            </div>
                            <!-- <p><strong>3. Make a good impression </strong></p> -->
                            <p>It’s relatively simple to include your preferred pronouns on your resume. You can add them either next to or under your name in the header of your resume. 
                                If you prefer not to include it on your resume, there’s always the option to have it in your cover letter under your signature.
                            </p>
                            <p>When it comes to listing a preferred name on a resume, simply list it. You can also take the route of listing a first initial, followed by a preferred name. 
                                Some people also provide their selected names in quotes, i.e., N. Ryder Jones or Nathan “Ryder” Jones.</p>
                            
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/fifth.png" alt="" width="">
                                </div>
                            </div>
                            <!-- <p><strong>4. The Takeaway</strong></p> -->
                            <p>Clarifying your gender identity and preferred name ahead of interactions with hiring managers will give you additional comfort going into an 
                                interview by reducing the probability that someone will misgender you.
                            </p>
                            <p>Including your preferred terms of address also helps promote workplace inclusivity. However you identify, sharing your pronouns and preferred 
                                name encourages and educates others. More awareness around gender diversity moves society one step closer to normalizing the use of preferred pronouns.  
                            </p>
                            <p>As previously mentioned, listing your preferred pronouns will also help you find an inclusive workplace by weeding out those who aren’t.   
                            </p>
                            <p style="text-align: center; font-size: medium;"><strong>Suggested reading:</strong><br>
                                <a style="color: red;" routerLink="/Breaking-into-Tech-Tips-for-Women" target="_blank"> Breaking into Tech Tips for Women</a><br>
                                <a style="color: red;" routerLink="/why-you-should-talk-about-your-diversity-during-your-interview" target="_blank">Why You Should Talk About Your Diversity During Your Interview</a><br>
                                <a style="color: red;" routerLink="/8-things-to-do-before-you-write-your-resume" target="_blank">8 Things to Do Before You Write Your Resume</a>
                            </p>
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/six.png" alt="" width="">
                                </div>
                            </div>
                            <p>Most companies that are allies share their diversity, inclusivity and equitability practices online and are likely on their website,
                                 social media accounts and shared by employees. Job seekers can consider scoping LinkedIn to see whether employees at your desired 
                                 employer provide their preferred pronouns and names. Seeing information sharing like this can signal whether an employer is a safe place for all.
                            </p>
                            <p>No matter the case, it will always be in your best interest to find an organization that supports you for who you are.
                            </p>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        
    </div>
      
        