    <!-- Page-->
    <div class="page">

        <div class="header-section">
            <!-- <img class="header-img" src="/assets/Should You Create An Interview Script or Go With The Flow.jpg" alt="" style="width:100%"> -->
            <h1 class="main-title">Should You Create An Interview Script or Go With The Flow?</h1>
        </div>
     
        
        
        <div class="container ng-scope" id="blogContainer">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="media">
                        <div class="media-body">
                            <!-- <h1>About Us</h1> -->
                            <!-- <h2>Should You Create An Interview Script or Go With The Flow?</h2> -->
                            <p>Creating a series of scripted answers for common interview questions seems 
                                sensible, so long as they are deployed in the right way. 
                            </p>
                            <p>It would make most candidates feel that they are more in charge of the conversation,
                                 but does it risk denying the interviewer the specifics that they are looking for? 
                                 Do you want your interview to be filled with stories that you want to tell, or are 
                                 you agile enough to react to the subtlety of each interview question as it’s asked?
                            </p>
                            <p>Composing interview scripts is an excellent way of preparing your stories in such a way 
                                that you impart what you want to tell them. However, it risks seeming like you’re bypassing 
                                the interviewer’s question. 
                            </p>
                            <p>Instead of a full script, try bulleted talking points or key items you want to highlight. 
                                Surface your top success stories, work experience and skillsets to the top of your mind 
                                to pull from when there’s an appropriate segway.
                            </p>
                            <p>The best interview is truly a mix of both approaches and there is undeniable value in preparing 
                                some semblance of an interview script. You should always try to put yourself in the interviewer’s
                                shoes as you prepare for each interview, so considering the questions that they might ask is a useful
                                exercise in itself. 
                            </p>
                            <p>The last consideration is that you risk seeming distant in an interview if you are not answering the interviewer’s
                                questions directly. Developing a rapport with your future boss is vital, so by all means dip into those 
                                stock answers, but only when you are telling them what they want to know. That way, they will feel that you are “in the room.”
                            </p>
                            <p>Interview prep is crucial, but being present is equally important.
                            </p>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        
    </div>
      
        