    <!-- Page-->
    <div class="page">

        <div class="header-section">
            <!-- <img class="header-img" src="/assets/Why You Should Talk About Your Diversity During Your Interview_Blog.jpg" alt="" style="width:100%"> -->
            <h5 class="main-title">Why You Should Talk About Your Diversity During Your Interview</h5>
        </div>
     
        
        
        <div class="container ng-scope" id="blogContainer">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="media">
                        <div class="media-body">
                            <!-- <h1>About Us</h1> -->
                            <!-- <h2>Why You Should Talk About Your Diversity During Your Interview</h2> -->
                            <p>We are all different in varying ways and it is those differences which 
                                allow us to make our unique contribution to the world. 
                            </p>
                            <p>Explaining your difference lies at the very heart of a great interview, 
                                and that doesn’t have to be confined to your professional accomplishments.
                            </p>
                            <p>Huge numbers of employers are in all sorts of industries are waking up to the 
                               very real benefits of a diverse and inclusive workforce.
                            </p>
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/Why You Should first.jpg" alt="" width="">
                                </div>
                            </div>
                            <p>So why are many candidates still nervous to “sell” their diversity during an interview?
                            </p>
                            <p>A truly diverse workforce is a long way from achieving a representative critical mass 
                                in too many sectors, but momentum and contemporary thought are on the side of inclusion 
                                and equality. Your difference is another string to your bow, so give it some thought:</p>
                            <p>What tangible difference can your diverse perspective bring to your employer?
                            </p>
                            <div class="video-row mt-3 mb-3">
                                <div class="column">
                                    <video width="100%" height="300" controls>
                                        <source src="/assets/Why You Should video.mp4" type="video/mp4">
                                    </video>                               
                                 </div>
                            </div>
                            <p>It isn’t something that you should seek to hide or play down, it is simply one of the
                                 qualities that you bring to the role, something that is core to your being and something 
                                 that any employer worth their salt will welcome wholeheartedly. If you see any interviewer 
                                 glaze over when you start to talk about it, they are not the employer for you.</p>
                                 <p>If you choose to bring up the topic of diversity, you will need answers to some inevitably 
                                     challenging questions. Here are a few that may come your way:
                                </p>
                                <ul class="cookiespolicyul">
                                    <li>
                                        <p>What do diversity, equality and inclusion mean to you?
                                        </p>
                                    </li>
                                    <li>
                                        <p>How do you approach understanding people from different backgrounds?</p>
                                    </li>
                                    <li>
                                        <p>What is one challenge about creating a more diverse workplace?
                                        </p>
                                    </li>
                                    <li>
                                        <p>Tell me about a time when you advocated for diversity with a sceptical crowd?</p>
                                    </li>
                                    <li>
                                        <p>What can we do to help you to bring your whole self to work?
                                        </p>
                                    </li>
                                    
                                </ul> 
                            <p>We all need to talk about diversity more, and an interview is no exception. In fact, if talented 
                                diverse candidates were more selective about their choice of employer, competitive advantage and 
                                “survival of the most diverse” would only intensify. 
                            </p>
                            <p>Test the water. Talk about why your diversity matters and if you sense that it isn’t a priority 
                                for the person across the table, take your skills elsewhere.
                            </p>
                            <p>A company that doesn’t value diversity, equality and inclusion doesn’t deserve to have you. 
                            </p>
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        
    </div>
      
        