.setting-text {
    font-family: Segoe UI !important;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
    /* margin-left: 10px; */
}

.item-cont {
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

.sub-head-text {
    font-family: Segoe UI !important;
    font-size: 16px;
    font-weight: 500;
    color: #495057;
    margin-bottom: 5px;
}

.email-item-text {
    font-size: 14px;
}

.change-password-text {
    font-size: 14px;
    color: #146EF6;
    cursor: pointer;
}

a.btn.btn-primary.btn-sm.verifybutton {
    min-width: 80px !important;
}

.mblverified {
    color: green;
    font-weight: bold;
    float: left;
}

.verified-pencil {
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #0984E3;
}

a.btn.btn-primary.btn-sm.verifybutton1 {
    min-width: 0 !important;
    float: right;
    margin-top: -14px;
}

input[formcontrolname="phoneNo"] {
    display: inline;
    border: 1px solid none;
    max-width: 55%;
}

.mat-form-field-infix {
    max-height: 55px;
}


.editpencilIcon a.btn {
    padding: 0px 4px 0px 2px;
    border-radius: 2px;
}

.currntAddr h3 {
    margin-bottom: 15px;
    text-align: left !important;
    font-weight: bold !important;
    font-size: 1.4em;
    text-transform: capitalize;
}

.verify-btn {
    min-width: 0 !important;
    float: right;
    margin-top: -30px;
    margin-bottom: -20px;
}

button:disabled {
    background-color: #E1EAF8;
    color: #AFB9C8 !important;
    /*background-color: #E5E5E5;*/
    border: 1px solid #E1EAF8;
}

.phone-input {
    width: 300px;
}

.btn.btn-primary {
    min-width: 0 !important;
}

@media screen and (min-width: 1360px) {
    .btn.btn-primary {
        min-width: 0 !important;
    }
}

@media screen and (max-width:679px) {
    .card-outer-container {
        margin-top: 75px !important;
    }
}

/* @media screen and (min-width: 990px) and (max-width:1259px) {
    .card-outer-container {
        margin-top: 75px !important;
    }
}  */