    <!-- Page-->
    <div class="page">

        <div class="header-section">
            <!-- <img class="header-img" src="/assets/8 Things to Do Before You Write Your Resume_Blog.jpg" alt="" style="width:100%"> -->
            <h5 class="main-title">8 Things to Do Before You Write Your Resume</h5>
        </div>
     
        
        
        <div class="container ng-scope" id="blogContainer">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="media">
                        <div class="media-body">
                            <!-- <h1>About Us</h1> -->
                            <!-- <h2>8 Things to Do Before You Write Your Resume</h2> -->
                            <p>The frenzy of rushing to update your resume and sending it to multiple potential employers
                                 might feel productive, but there’s more that needs to be done beforehand. 
                            </p>
                            <p>Check out these eight prep activities to ensure you are ready to take on the job search effectively.
                            </p>
                            <p><strong>Deep clean your online presence.</strong> This should be first on your to-do list. If you prefer to keep your
                             personal life to yourself, keep your accounts private. If you’re someone who enjoys a healthy intertwining of professional and personal, be sure that the content you share is reflective of how you want to be viewed professionally. 
                            </p>
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/8 Things to Do Before first image.jpg" alt="" width="">
                                </div>
                            </div>
                            <p><strong>Read. A lot.</strong> You may not be the world’s best wordsmith, so as you come to write one of the most important 
                                documents in your life it helps to have some literary ammunition. Reading a range of different books will 
                                raise your writing game considerably. 
                            </p>
                            <p><strong>Analyze potential employers from every angle.</strong> There is a wealth of information available about employers out there. 
                                Exploring the needs of your future employers is a great place to start when pondering how to pitch your services. 
                                Read job descriptions, scour their website and do a scan of their social media accounts. This helps piece together 
                                their corporate culture and if you and your values align with theirs. 
                            </p>
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/8 Things to Do Before second image.jpg" alt="" width="">
                                </div>
                            </div>
                            <p><strong>Lose yourself in introspection.</strong> One of the most
                                exciting things about a job search is that your choices have the potential to change your life. Some people make 
                                career choices based on money and/or convenience alone. Look within at what you really want out of a job – 
                                then go out there and make it happen. 
                            </p>
                            <p><strong>Map out your career paths (plural).</strong> Being open-minded is one of the 
                                best approaches at the start of any job search. Write a resume that has the potential to lead to any number of career 
                                paths. You should always tweak your resume to fit each individual role, but keeping your goals, successes and achievements 
                                highlighted to show the consistency needed to land any job.  
                            </p>
                            <p><strong>Get granular with your skills.</strong> Take a large piece of paper and put your
                                 skills into little bubbles. Then create mini spider diagrams with the sub-skills. You might be great at programming, 
                                 but what specific aspect of your coding expertise will be most interesting for your future employer? Get granular with 
                                 how you portray your skillset.
                            </p>
                            <p><strong>Adopt an open mind.</strong> Your mind will be racing with ideas as you navigate 
                                the early stages of your job search. As mentioned earlier, it is important to be open-minded, but when it comes time 
                                to narrow down your search you need to be laser-focused. The same goes for writing your resume – be concise.
                            </p>
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/8 Things to Do Before third image.jpg" alt="" width="">
                                </div>
                            </div>
                            <p><strong>Find your fans for references.</strong> Approach the people who knew you well and appreciated
                                your work. Dip into these different perspectives when you come to write your resume and cover letter.
                            </p>
                            <p>If you do these things with a patient attitude and a positive approach, your resume will reflect the
                                very best of who you are and (more importantly) who you want to become.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        
    </div>
      
        