    <!-- Page-->
    <div class="page">

        <div class="header-section">
            <!-- <img class="header-img" src="/assets/How to Make the Most of Working with a Career Coach_Blog.jpg" alt="" style="width:100%"> -->
            <h5 class="main-title">How to Make the Most of Working with a Career Coach</h5>
        </div>
     
        
        
        <div class="container ng-scope" id="blogContainer">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="media">
                        <div class="media-body">
                            <!-- <h1>About Us</h1> -->
                            <!-- <h2>How to Make the Most of Working with a Career Coach</h2> -->
                            <p>As you read these words, you are taking another step towards a better future.
                            </p>
                            <p>When you consider inviting a career coach to share your journey, you are likely 
                                open to change, ambitious in your goals and ready for action. Great career coaches
                                observe your potential, challenge your thinking and support you on your path forward.
                            </p>
                            <p>To facilitate this success, <strong>career coaches require five key behaviors.</strong>
                            </p>
                                <div class="image-row mt-3 mb-3">
                                    <div class="img-container">
                                      <img class="num-img" src="/assets/one.jpg" alt="">
                                    </div>
                                </div>
                            <p><strong>Be prepared.</strong> Every interaction with your career coach matters. Ensure sure that you’re 
                            ready to add immediate value to your conversations by gathering your thoughts before your 
                            one-on-one session. Create a list of questions and your job preferences and what you’d like 
                            assistance with to make the most of your time. </p>
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                  <img class="num-img" src="/assets/two.jpg" alt="">
                                </div>
                            </div>
                            <p><strong>Be honest.</strong> Transparent conversations are the key to any meaningful relationship. Where are you
                                 right now in your career? What is getting in the way of what you want? While the answers to some 
                                 of your career coach’s searching questions might seem invasive, the best way for them to help you 
                                 land the job of your dreams is to know what your dreams and aspirations are.
                            </p>
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                  <img class="num-img" src="/assets/three.jpg" alt="">
                                </div>
                            </div>
                            <p><strong>Be coachable.</strong> Setting off on a coaching relationship with an open mind is a 
                                crucial aspect in change, growth and self-evolution. We may be more set in our ways than we 
                                think. Being coachable means having the courage to embrace different perspectives.
                            </p>
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="num-img" src="/assets/four.jpg" alt="">
                                </div>
                            </div>
                            <p><strong>Be targeted.</strong> In a world where anything is possible, your career coach 
                                needs you to be focused on what you want to get out of your career. Much as they would 
                                like to, they cannot get into your head to help you find this clarity. Coaches can’t ask great 
                                questions if they don’t understand the direction of travel and it is up to you to share your motivations, 
                                hopes and dreams. It is your career, not theirs, so be targeted in what you wish for.
                            </p>
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="num-img" src="/assets/five.jpg" alt="">
                                </div>
                            </div>
                            <p><strong>Be committed.</strong> Action equals results. A career change will not happen overnight 
                                and it certainly won’t happen without a considerable commitment to change. There will likely be 
                                obstacles and setbacks along the way, so adopting an attitude of resilience and determination is 
                                essential to see things through. Your coach can guide and cajole you, but only you can choose to 
                                take responsibility for your future.
                            </p><br>
                            <p>Investing time and energy into the services of a career coach could be the best decision that 
                                you make for your career, but that investment will not be maximized if you are not ready to
                                 make the most of the relationship.
                            </p>
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/How to Make the Most footer.jpg" alt="" width="">
                                </div>
                            </div>
                            <!-- <div class="column">
                                <div class="card">
                                  <h3>Your career coach will be 100% there for you</h3>
                                </div>
                            </div> -->
                            <!-- <div class="card">
                                <div class="card-body">
                                  <h2 style="text-align: center;">Your <strong>career coach</strong> will be <strong>100%</strong> there for you</h2>
                                </div>
                            </div> -->
                            <p>Can you say the same in return?</p>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        
    </div>
      
        