<div class="page">
<div class="container ng-scope" id="empsubContainer">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="media">
                <div class="media-body">  
                    <div class="cell-sm-12 cell-lg-10 cell-xl-3 mt-3 mb-3">
                            <div class="range range-30">
                                <div class="cell-sm-6 cell-xl-12">
                                    <div class="header-primary" style="text-align: center; margin-top: 100px;">
                                        <h2>Find Incredible Talent</h2>
                                        <div class="sub-primary-text">
                                        <p>We actively seek and attract underrepresented candidates through inclusive 
                                            sourcing techniques. From there, we transform job seekers into qualified 
                                            professionals by assessing skill gaps and providing access to training, 
                                            certifications and other resources to help grow technical skills.</p>
                                        </div>
                                        <p class="button-primary-meta"><a [routerLink]="['/contactus', 'Employer']">Contact us</a></p> 
                                    </div>
                                </div>
                                <div class="cell-sm-6 cell-xl-12">
                                   <img src="/assets/Subpage_Employer Page_Find Talent .jpg" alt="" width="600" height="600"/>
                                </div>
                            </div>
                    </div>

                    <div class="cell-sm-12 cell-lg-10 cell-xl-3 mt-3 mb-3" id="returnshipcontainer" >
                                <div class="range range-30">
                                    <div class="cell-sm-6 cell-xl-12"><a class="postblog">
                                        <figure><img src="/assets/Subpage_Employer Page_Returnship.jpg" alt="" width="600" height="600"/>
                                        </figure></a></div>
                                <div class="cell-sm-6 cell-xl-12">
                                    <div class="header-primary" style="text-align: center; margin-top: 100px;">
                                        <h2>Returnship Program</h2>
                                        <div class="sub-primary-text">
                                        <p>To help your organization tap into the qualified, experienced and underutilized 
                                            talent pool, we work with you to implement and run a successful back-to-work 
                                            internship program: a returnship. </p>
                                        </div>
                                        <p class="button-primary-meta"><a [routerLink]="['/contactus', 'Employer']" >I want a Returnship Program</a></p>
                                    </div>
                                </div>

                                </div>
                    </div>

                    

                    <div class="cell-sm-12 cell-lg-10 cell-xl-3 mt-3 mb-3" id="talentcommunitycontainer">
                        <div class="range range-30">
                        <div class="cell-sm-6 cell-xl-12">
                            <div class="header-primary" style="text-align: center; margin-top: 100px;">
                                <h2>Talent Community</h2>
                                <div class="sub-primary-text">
                                <p>We're dedicated to creating a steady pipeline of diverse talent for forward-thinking workforce leaders. </p>
                                </div>
                                <p class="button-primary-meta"><a [routerLink]="['/contactus', 'Employer']" >Build a Talent community</a></p>
                            </div></div>
                        <div class="cell-sm-6 cell-xl-12"><a class="postblog">
                            <figure><img src="/assets/Subpage_Employer Page_Talent Community.jpg" alt="" width="600" height="600"/>
                            </figure></a></div>
                        </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
