<div id="wrapper" class="profile-box">
  <section id="pdfbody">
    <div class="container">
      <div class="row">
        <!-- Left Section -->
        <!--  -->
        <!-- ProfHeader -->
        <div class="col-12 card px-0 pb-4">
          <section id="profheader" class="innerpadding my-0">
            <div class="row mx-0">
              <div class="col-12 col-xl-7">
                <!-- col-md-10 col-lg-6 -->
                <div class="row d-flex align-items-start">
                  <div class="col-12 col-md-4 col-lg-2 d-flex justify-content-center">
                    <div class="avatar">
                      <div class="avatarimg" [style.background]="'url(' + profileImageBase64 + ')'">
                        <!-- <img [src]="(candData.profilePicPath) ? candData.profilePicPath : user_icon" alt="" *ngIf="(candData.profilePicPath) ? candData.profilePicPath : user_icon "> -->
                        <!-- <img [src]="(profileImageBase64) ? profileImageBase64 : 'assets/icons/user_icon.svg'" alt=""> -->
                        <!-- <i class="far fa-user-circle" *ngIf="!candData.profilePicPath"></i> -->
                        <a href="javascript:void(0);" class="change-avatar" (click)="imageFileInput.click()"><i
                            class="fa fa-pencil"></i><input #imageFileInput type="file"
                            (click)="onClickProfilePicFile()" (change)="imageUpload($event)" style="display:none;"
                            accept=".jpeg, .jpg, .png" /></a>
                      </div>
                      <div id="ninja-badge" *ngIf="starNinja">
                        <img src="assets/badge/ninja-badge.png" alt="badge" width="50">
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-12 col-md-8 col-lg-10 d-flex justify-content-center justify-content-md-start text-center text-md-left px-0 px-md-4">
                    <div class="candata" *ngIf="candData">
                      <h2 class="text-center text-md-left">{{ candData.firstName }} {{ candData.lastName }} </h2>
                      <ul class="mb-0">
                        <li *ngIf="candData.jobTitle"><i class="fa fa-briefcase"></i> {{ candData.jobTitle }} </li>
                        <li *ngIf="candData.location"><i class="fa fa-map-marker"></i> {{ candData.location }}</li>
                        <li>
                          <!-- Dynamic code -->
                          <div class="col-12" *ngIf="goldBadges.length">
                            <div class="row">
                              <!-- <div class="col-12">
                                <div
                                class="badge-tab row wrapper d-flex flex-wrap flex-md-nowrap   justify-content-md-left">
                                <div class="col-3 col-sm-2 gold-badge-main" *ngFor="let assessmentIndidlObj of goldBadges;"
                                >
                                <div  *ngIf="assessmentIndidlObj.requiredBadgePath">
                                <img src="{{badgesPath + assessmentIndidlObj.requiredBadgePath }}" alt="badge"
                                width="80" height="100">
                                </div>

                                </div>
                                </div>
                                </div>  -->
                              <div class="col-12 px-0">
                                <div class="d-flex flex-wrap justify-content-center justify-content-md-start">
                                  <div class="my-2" *ngFor="let assessmentIndidlObj of goldBadges;">
                                    <div *ngIf="assessmentIndidlObj.requiredBadgePath">
                                      <img src="{{badgesPath + assessmentIndidlObj.requiredBadgePath }}" alt="badge"
                                        width="80">
                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>



                          <!-- Static code -->
                          <!-- <div class="col-12">
                                <div class="row">
                                  <div class="col-12">
                                    <div
                                      class="badge-tab row d-flex flex-wrap flex-md-nowrap justify-content-center justify-content-md-left">
                                      <div class="col-3 col-sm-2 ps-0 px-2 py-2">
                                          <img src="assets/badge/Golden - CLIK.png" alt="badge">
                                        </div>
                                        <div class="col-3 col-sm-2 ps-0 px-2 py-2">
                                          <img src="assets/badge/Golden - excel.png" alt="badge">
                                        </div>
                                        <div class="col-3 col-sm-2 ps-0 px-2 py-2">
                                          <img src="assets/badge/Golden - Promounciation copy.png" alt="badge">
                                        </div>
                                        <div class="col-3 col-sm-2 ps-0 px-2 py-2">
                                          <img src="assets/badge/Golden - SPE.png" alt="badge">
                                        </div>
                                        <div class="col-3 col-sm-2 ps-0 px-2 py-2">
                                          <img src="assets/badge/Golden - TKT.png" alt="badge">
                                        </div> 
                                      </div>
                                  </div>
                             </div>
                          </div> -->
                        </li>
                        <li *ngIf="empAvailabilityStatusList.length">
                          <div class="col">
                            <div ngbDropdown class="d-inline-block">
                              <button type="button"
                                class="btn btn-outline-primary available-status {{candData.availability}}"
                                id="dropdownBasic1" ngbDropdownToggle>
                                <div class="status-type {{candData.availability}}" *ngIf="candData.availability"></div>
                                <span *ngIf="candData.availability">&nbsp;</span>{{candData.availability ?
                                candData.availability : "Select Availability"}}
                              </button>
                              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <div ngbDropdownItem
                                  *ngFor="let statusObj of empAvailabilityStatusList;let status = index;"
                                  (click)="changeAvailability(statusObj.lookupId)" class="available-btn">
                                  <div class="available-title">
                                    <div class="status-type {{statusObj.lookupValue}}"></div> &nbsp;
                                    {{statusObj.lookupValue}}
                                  </div>
                                  <!-- <div class="available-desc">{{statusObj.lookupScreenDesc}}</div> -->
                                </div>
                                <!-- <button ngbDropdownItem>Another Action</button>
                                <button ngbDropdownItem>Something else is here</button> -->
                              </div>
                            </div>
                          </div>
                          <!-- <span class="hire tag"> <i class="fas fa-circle"></i> Available for Hire</span> -->
                        </li>

                      </ul>
                    </div>
                    <!-- <span><img src="assets/badge/ninja-badge.png" alt="badge" width="80" height="80"></span> -->
                  </div>
                </div>
              </div>
              <!-- col-md-6 -->
              <div
                class="col-12 col-xl-5 d-flex align-items-center align-items-md-end flex-column bd-highlight mb-3 btn-profedit">
                <div class="p-2 bd-highlight">
                  <a href="javascript:void(0);" (click)="loadPDF()" class="btn btn-outline-dark btn-capsule">
                    <i class="fa fa-download"></i>
                    <span class="d-none d-md-inline mx-md-2">Download</span>
                  </a>
                  <a target="_blank" routerLink="/view-profile" class="btn btn-outline-dark btn-capsule "
                    *ngIf="showPreviewBtn">
                    <i class="fa fa-eye"></i>
                    <span class="d-none d-md-inline mx-md-2">View Profile</span>
                  </a>
                  <a href="javascript:void(0);" class="btn btn-outline-dark btn-capsule" (click)="openProfileModal()">
                    <i class="fa fa-pencil"></i>
                    <span class="d-none d-md-inline mx-md-2">Edit</span>
                  </a>
                </div>
                <div class="mt-auto p-2 bd-highlight">
                  <a href="javascript:void(0);" (click)="openSharePopup()"
                    class="btn btn-outline-dark12 btn-capsule d-flex mb-3">
                    <i class="fa-regular fa-share"></i>
                    <span class="ms-2"> Share</span></a>
                </div>
              </div>
            </div>
            <div class="row d-flex align-items-center justify-content-center "
              [ngClass]="{'mt-4 mb-3': goldBadges.length }">
              <!-- <div class="col-1"></div> -->
              <!-- <div class="col-9" *ngIf="goldBadges.length"> -->
            </div>
          </section>
        </div>
        <!--  -->
        <!-- Resume -->
        <div class="col-12 card px-0">
          <section id="smry" class="innerpadding my-0">
            <h3>Resume</h3>
            <div class="row">
              <div class="col-12 col-md-6 d-flex justify-content-start mb-4">
                <div class="row mx-0">
                  <div class="col-12 px-0">
                    <a target="_blank" *ngIf="resumeData.name" [href]="resumeData.path" [download]="resumeData.name"
                      class="link-blu">
                      <i class="fa fa-file-o mr-2"></i> {{resumeData.name}}
                    </a>
                    <a *ngIf="!resumeData.name" href="javascript:void(0);" (click)="loadPDF()" class="link-blu">
                      <i class="fa fa-file-o mr-2"></i> {{candData.firstName}}.pdf
                    </a>
                  </div>
                  <!-- <div class="col-12 px-0"><small class="text-muted">Updated on 15 August 2021</small>
                                    </div> -->
                </div>
              </div>
              <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end">
                <div class='resumeDiv'>
                  <a href="javascript:void(0);" (click)="fileInput.click()" class="btn btn-outline-dark btn-capsule">
                    <i class="fa fa-cloud-upload-alt"></i> Replace
                    <input #fileInput type="file" (click)="onClickReplaceFile()"
                      (change)="onSelectFile($event,fileInput)" style="display:none;" accept=".doc,.docx,.pdf" />
                  </a>
                  <div class='resumeText'>Supported upload formats: 2MB max in .DOC, .DOCX, or .PDF</div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- Career Summary -->
        <div class="col-12 card px-0">
          <section id="smry" class="innerpadding my-0">
            <div class="row d-flex align-items-center justify-content-between card-head">
              <div class="col-12 col-md-6">
                <h3 class="mb-0">Career Summary</h3>
              </div>
              <div class="col-12 col-md-6 d-flex justify-content-end" *ngIf="!this.summaryDesc">
                <a (click)="addSummaryForm()" class="link-primary mt-2" style="cursor: pointer;">
                  <strong>+</strong> Add Summary</a>
              </div>
              <div class="col-12 col-md-6 d-flex justify-content-end" *ngIf="this.summaryDesc">
                <a (click)="editSummaryForm(0)" class="link-primary mt-2" style="cursor: pointer;">
                  <i class="fa fa-pencil"></i></a>
              </div>
            </div>
            <div *ngIf="!this.summaryDesc">
              <app-summary-form class="row mt-3" *ngIf="toggleAddSummaryForm" (addSummary)="addSummary($event)"
                (closeSummaryForm)="closeSummaryForm($event)">
              </app-summary-form>
            </div>
            <div *ngIf="this.summaryDesc">
              <div *ngFor="let sumarryObj of SummaryList;let summaryIndex = index;">
                <p>
                  <ng-container *ngIf="summaryIndex == SummaryEditIndex; then editSummaryRec; else showRecord">
                  </ng-container>
                  <ng-template #editSummaryRec>
                    <app-summary-form class="row mt-3" *ngIf="toggleEditSummaryForm" (editSummary)="editSummary($event)"
                      [SummaryEditIndex]="SummaryEditIndex" [editedSummaryRecordData]="editedSummaryRecordData"
                      (closeSummaryForm)="closeSummaryForm($event)"></app-summary-form>
                  </ng-template>
                  <ng-template #showRecord>
                    <div class="ckTxt" [innerHtml]="dataDecryption"></div>
                    <!-- <p [innerHTML]="summaryDesc"></p> -->
                    <!-- <div class="dataction col-3 px-0 d-flex justify-content-end">
                                <a class="link-pencilTrash-icons" (click)="editSummaryForm(summaryIndex)"><i class="fa fa-pencil"></i></a>
                           </div> -->
                  </ng-template>
                </p>
                <app-summary-form class="row mt-3" *ngIf="toggleSummaryForm"
                  (closeSummaryForm)="closeSummaryForm($event)"></app-summary-form>
              </div>
            </div>
          </section>
        </div>
        <!-- Employment History -->
        <div class="col-12 card px-0">
          <section id="emp" class="my-0">
            <div class="row d-flex align-items-center justify-content-between card-head innerpadding">
              <div class="col-12 col-md-6">
                <h3 class="mb-0">Employment History</h3>
              </div>
              <div class="col-12 col-md-6 d-flex justify-content-md-end">
                <a (click)="addEmployees()" class="link-primary mt-2"> <strong>+</strong> Add
                  Employment</a>
              </div>
            </div>
            <ul class="innerpadding" cdkDropList (cdkDropListDropped)="empOrderChange($event)">
              <app-employment-form *ngIf="toggleEmployeeForm" class="row mt-3" (addEmployment)="addEmployment($event)"
                (closeForm)="closeForm($event)">
              </app-employment-form>
              <li *ngFor="let empObj of employmentList;let empIndex = index;" cdkDrag>
                <ng-container *ngIf="empIndex == employmentEditIndex; then editEmpRec; else showRecord">
                </ng-container>
                <ng-template #editEmpRec>
                  <div cdkDragHandle></div>
                  <app-employment-form class="row mt-3" (editEmployment)="editEmployment($event)"
                    [employmentEditIndex]="employmentEditIndex" [editedEmpRecordData]="editedEmpRecordData"
                    (closeForm)="closeForm($event)">
                  </app-employment-form>
                </ng-template>
                <ng-template #showRecord>
                  <div class="row px-0 mx-0">
                    <div class="companydata col-9 col-md-11 px-0">
                      <h4 class="d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 37 60"
                          class="dragIcon" matTooltip="Drag to Change the order of Employment records" cdkDragHandle>
                          <defs>
                            <style>
                              .cls-1 {
                                fill: #969eb5;
                              }
                            </style>
                          </defs>
                          <rect class="cls-1" x="0.42" y="1" width="16.48" height="16.48" rx="8.11" />
                          <rect class="cls-1" x="0.42" y="21.98" width="16.48" height="16.48" rx="8.24" />
                          <rect class="cls-1" x="0.42" y="42.96" width="16.48" height="16.48" rx="8.24" />
                          <rect class="cls-1" x="19.93" y="1" width="16.48" height="16.48" rx="8.15" />
                          <rect class="cls-1" x="19.93" y="21.98" width="16.48" height="16.48" rx="8.24" />
                          <rect class="cls-1" x="19.93" y="42.96" width="16.48" height="16.48" rx="8.24" />
                        </svg>
                        <div class="ms-1">{{decryptIt(empObj.jobTitle)}} | {{decryptIt(empObj.companyName)}}</div>
                      </h4>
                      <span class="subheading pl25">{{empObj.startDate | amDateFormat:'MMM-YYYY'}} to
                        {{ (empObj.currentCompany == true) ? 'Till Date' : empObj.endDate | amDateFormat:'MMM-YYYY'}}
                        &middot; {{ empObj.countofYearsMonths }}
                      </span>
                    </div>
                    <div class="dataction col-3 col-md-1 px-0 d-flex justify-content-end">
                      <a class="link-pencilTrash-icons" (click)="editEmpForm(empIndex)"><i class="fa fa-pencil"></i></a>
                      <a class="link-pencilTrash-icons" (click)="deleteEmpForm(empIndex)"><i
                          class="fa fa-trash"></i></a>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
          </section>
        </div>
        <!-- Education -->
        <div class="col-12 card px-0">
          <section id="edu" class="my-0">
            <div class="row d-flex align-items-center justify-content-between card-head innerpadding">
              <div class="col-12 col-md-6">
                <h3 class="mb-0">Education</h3>
              </div>
              <div class="col-12 col-md-6 d-flex justify-content-md-end">
                <a (click)="addEducations()" class="link-primary mt-2"> <strong>+</strong> Add
                  Education</a>
              </div>
            </div>
            <ul class="innerpadding">
              <app-education-form *ngIf="toggleEducationForm" class="row mt-3" (addEducation)="addEducation($event)"
                (closeEducationForm)="closeEducationForm($event)">
              </app-education-form>
              <li *ngFor="let eduObj of educationList;let eduIndex = index;">
                <ng-container *ngIf="eduIndex == educationEditIndex; then editEduRec; else showRecord">
                </ng-container>
                <ng-template #editEduRec>
                  <app-education-form class="row mt-3" [educationEditIndex]="educationEditIndex"
                    [editedEduRecordData]="editedEduRecordData" (editEducation)="editEducation($event)"
                    (closeEducationForm)="closeEducationForm($event)"></app-education-form>
                </ng-template>
                <ng-template #showRecord>
                  <div class="row px-0 mx-0">
                    <div class="companydata col-9 col-md-11 px-0">
                      <h4>{{decryptIt(eduObj.degreeType)}} at {{decryptIt(eduObj.degreeName)}}
                      </h4>
                      <span class="subheading">{{eduObj.degreeCompletionDate |
                        amDateFormat:'YYYY'}}</span>
                    </div>
                    <div class="dataction col-3 col-md-1 px-0 d-flex justify-content-end">
                      <a class="link-pencilTrash-icons" (click)="editEduForm(eduIndex)"><i class="fa fa-pencil"></i></a>
                      <a class="link-pencilTrash-icons" (click)="deleteEduForm(eduIndex)"><i
                          class="fa fa-trash"></i></a>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
          </section>
        </div>
        <!-- Skills -->
        <div class="col-12 card px-0">
          <section id="skills" class="my-0">
            <div class="row d-flex align-items-center justify-content-between card-head innerpadding">
              <div class="col-12 col-md-6">
                <h3 class="mb-0">Skills</h3>
              </div>
              <div class="col-12 col-md-6 d-flex justify-content-md-end">
                <a (click)="addSkills()" class="link-primary mt-2"> <strong>+</strong> Add
                  Skill</a>
              </div>
            </div>
            <ul class="innerpadding">
              <app-skills-form class="row mt-3" *ngIf="toggleSkillsForm" (addSkill)="addSkill($event)"
                (closeSkillForm)="closeSkillForm($event)" [categoryList]="categoryList">
              </app-skills-form>
              <li *ngFor="let SkillObj of skillsList;let SkillIndex = index;">
                <ng-container *ngIf="SkillIndex == SkillsEditIndex; then editSkillRec; else showRecord">
                </ng-container>
                <ng-template #editSkillRec>
                  <app-skills-form class="row mt-3" [SkillsEditIndex]="SkillsEditIndex"
                    [editedSkillsRecordData]="editedSkillsRecordData" (editSkill)="editSkill($event)"
                    (closeSkillForm)="closeSkillForm($event)" [categoryList]="categoryList">
                  </app-skills-form>
                </ng-template>
                <ng-template #showRecord>
                  <div class="row mx-0 px-0">
                    <div class="companydata col-9 px-0">
                      <h4>{{SkillObj.skillName}}</h4>
                      <span class="subheading">{{filterSkill(SkillObj.skillLevelID)}}</span>
                    </div>
                    <div class="dataction col-3 px-0 d-flex justify-content-end">
                      <a class="link-pencilTrash-icons" (click)="editSkillForm(SkillIndex)"><i
                          class="fa fa-pencil"></i></a>
                      <a class="link-pencilTrash-icons" (click)="deleteSkillForm(SkillIndex)"><i
                          class="fa fa-trash"></i></a>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
          </section>
        </div>
        <!-- Certification -->
        <div class="col-12 card px-0">
          <section id="certifications" class="my-0">
            <div class="row d-flex align-items-center justify-content-between card-head innerpadding">
              <div class="col-12 col-md-6">
                <h3 class="mb-0">License & Certification</h3>
              </div>
              <div class="col-12 col-md-6 d-flex justify-content-md-end">
                <a (click)="addLicenceCertificates()" class="link-primary mt-2"> <strong>+</strong> Add
                  License & Certification</a>
              </div>
            </div>
            <ul class="innerpadding">
              <app-licence-certificate-form class="row mt-3" *ngIf="toggleLCForm" (addLC)="addLC($event)"
                (closeLCForm)="closeLCForm($event)" [categoryList]="categoryList">
              </app-licence-certificate-form>
              <li *ngFor="let LCObj of certficationList;let LCIndex = index;">
                <ng-container *ngIf="LCIndex == LCEditIndex; then editLCRec; else showRecord">
                </ng-container>
                <ng-template #editLCRec>
                  <app-licence-certificate-form class="row mt-3" [LCEditIndex]="LCEditIndex"
                    [editedLCRecordData]="editedLCRecordData" [categoryList]="categoryList" (editLC)="editLC($event)"
                    (closeLCForm)="closeLCForm($event)">
                  </app-licence-certificate-form>
                </ng-template>
                <ng-template #showRecord>
                  <div class="row mx-0 px-0">
                    <div class="companydata col-9 px-0">
                      <h4>{{filterName(LCObj.certTypeLookupID)}} - {{ decryptIt(LCObj.certName) }}</h4>
                      <span class="subheading">{{LCObj.completedYear |
                        amDateFormat:'YYYY'}}</span>
                    </div>
                    <div class="dataction col-3 px-0 d-flex justify-content-end">
                      <a class="link-pencilTrash-icons" (click)="editLicenceCertificateForm(LCIndex)"><i
                          class="fa fa-pencil"></i></a>
                      <a class="link-pencilTrash-icons" (click)="deleteLicenceCertificateForm(LCIndex)"><i
                          class="fa fa-trash"></i></a>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
          </section>
        </div>
        <!-- Trainings -->
        <div class="col-12 card px-0">
          <section id="trainings" class="my-0">
            <div class="row d-flex align-items-center justify-content-between card-head innerpadding">
              <div class="col-12 col-md-6">
                <h3 class="mb-0">Trainings </h3>
              </div>
              <div class="col-12 col-md-6 d-flex justify-content-md-end">
                <a (click)="addTrainings()" class="link-primary mt-2"> <strong>+</strong> Add
                  Training</a>
              </div>
            </div>
            <ul class="innerpadding">
              <app-training-form *ngIf="toggleTrainingForm" class="row mt-3" (addTraining)="addTraining($event)"
                (closeTrainingForm)="closeTrainingForm($event)" [categoryList]="categoryList"></app-training-form>
              <li *ngFor="let trainObj of trainingList;let trainIndex = index;">
                <ng-container *ngIf="trainIndex == trainingEditIndex; then editTrainRec; else showRecord">
                </ng-container>
                <ng-template #editTrainRec>
                  <app-training-form class="row mt-3" [trainingEditIndex]="trainingEditIndex"
                    [editedTrainRecordData]="editedTrainRecordData" (editTraining)="editTraining($event)"
                    (closeTrainingForm)="closeTrainingForm($event)" [categoryList]="categoryList">
                  </app-training-form>
                </ng-template>
                <ng-template #showRecord>
                  <div class="row mx-0 px-0">
                    <div class="companydata col-9 px-0">
                      <h4>{{filterName(trainObj.trainingTypeLookupID)}} -
                        {{trainObj.trainingName}}
                      </h4>
                      <span class="subheading">{{ trainObj.institutionName }}</span><br>
                      <!-- <span class="subheading col-3 px-0"></span> -->
                    </div>
                    <div class="dataction col-3 px-0 d-flex justify-content-end">
                      <a class="link-pencilTrash-icons" (click)="editTrainForm(trainIndex)"><i
                          class="fa fa-pencil"></i></a>
                      <a class="link-pencilTrash-icons" (click)="deleteTrainForm(trainIndex)"><i
                          class="fa fa-trash"></i></a>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
          </section>
        </div>
        <!-- Social Links -->
        <div class="col-12 card px-0">
          <div id="socialinks" class="my-0">
            <div class="row d-flex align-items-center justify-content-between card-head innerpadding">
              <div class="col-12 col-md-6">
                <h3 class="mb-0">Social Links</h3>
              </div>
              <div class="col-12 col-md-6 d-flex justify-content-md-end">
                <a (click)="addSocialLinks()" class="link-primary mt-2"> <strong>+</strong> Add Social
                  Links</a>
              </div>
            </div>
            <ul class="socialinks ul-aside mb-0 innerpadding">
              <app-social-link-form *ngIf="toggleSocialLinkForm" class="row mt-3"
                (addSocialLink)="addSocialLink($event)" (closeSLForm)="closeSLForm($event)"
                [categoryList]="categoryList"></app-social-link-form>
              <li *ngFor="let SLObj of socialLinksList;let SLIndex = index;">
                <ng-container *ngIf="SLIndex == socialLinkEditIndex; then editSLRec; else showRecord">
                </ng-container>
                <ng-template #editSLRec>
                  <app-social-link-form class="row mt-3" [socialLinkEditIndex]="socialLinkEditIndex"
                    [editedSLRecordData]="editedSLRecordData" (editSocialLink)="editSocialLink($event)"
                    (closeSLForm)="closeSLForm($event)" [categoryList]="categoryList"></app-social-link-form>
                </ng-template>
                <ng-template #showRecord>
                  <div class="row mx-0 px-0">
                    <div class="companydata col-9 px-0">
                      <!-- <i class="fas fa-basketball-ball"></i> -->
                      <a href="{{SLObj.socialURL}}">{{ filterName(SLObj.socialTypeLookupID)}}</a>
                    </div>
                    <div class="dataction col-3 px-0 d-flex justify-content-end">
                      <a class="link-pencilTrash-icons" (click)="editSLForm(SLIndex)"><i class="fa fa-pencil"></i></a>
                      <a class="link-pencilTrash-icons" (click)="deleteSLForm(SLIndex)"><i class="fa fa-trash"></i></a>
                    </div>
                  </div>
                </ng-template>
              </li>
              <!-- <li>
                                <div class="row mx-0 px-0">
                                    <div class="companydata col-9 px-0">
                                        <i class="fa fa-behance"></i> <a href="https://behance.net/yamini123">Behance
                                            /yamini123</a>
                                    </div>
                                    <div class="dataction col-3 px-0 d-flex justify-content-end">
                                        <a href=""><i class="fa fa-pencil"></i></a>
                                        <a href=""><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row mx-0 px-0">
                                    <div class="companydata col-9 px-0">
                                        <i class="fa fa-twitter"></i> <a href="https://twitter.com/yamini123">Twitter
                                            /yamini123</a>
                                    </div>
                                    <div class="dataction col-3 px-0 d-flex justify-content-end">
                                        <a href=""><i class="fa fa-pencil"></i></a>
                                        <a href=""><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row mx-0 px-0">
                                    <div class="companydata col-9 px-0">
                                        <i class="fa fa-linkedin"></i> <a
                                            href="https://linkedin.com/in/yamini123">Linkedin
                                            /yamini123</a>
                                    </div>
                                    <div class="dataction col-3 px-0 d-flex justify-content-end">
                                        <a href=""><i class="fa fa-pencil"></i></a>
                                        <a href=""><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
                            </li> -->
            </ul>
          </div>
        </div>
        <!-- Languages -->
        <div class="col-12 card px-0">
          <section id="languages" class="my-0">
            <div class="row d-flex align-items-center justify-content-between card-head innerpadding">
              <div class="col-12 col-md-6">
                <h3 class="mb-0"> Languages</h3>
              </div>
              <div class="col-12 col-md-6 d-flex justify-content-md-end">
                <a (click)="addLanguages()" class="link-primary mt-2"> <strong>+</strong> Add
                  Languages</a>
              </div>
            </div>
            <ul class="ul-aside mb-0 langlist innerpadding">
              <app-languages-form class="row mt-3" *ngIf="toggleLanguageForm" (addLanguage)="addLanguage($event)"
                (closeLanguageForm)="closeLanguageForm($event)" [categoryList]="categoryList"
                [masterLanguagesList]="masterLanguagesList">
              </app-languages-form>
              <li class="d-block" *ngFor="let LangObj of languageList;let LangIndex = index;">
                <ng-container *ngIf="LangIndex == languageEditIndex; then editLangRec; else showRecord">
                </ng-container>
                <ng-template #editLangRec>
                  <app-languages-form class="row mt-3" [languageEditIndex]="languageEditIndex"
                    [editedLanguageRecordData]="editedLanguageRecordData" (editLanguage)="editLanguage($event)"
                    (closeLanguageForm)="closeLanguageForm($event)" [categoryList]="categoryList"
                    [masterLanguagesList]="masterLanguagesList"></app-languages-form>
                </ng-template>
                <ng-template #showRecord>
                  <div class="row mx-0 px-0">
                    <div class="companydata col-9 px-0">
                      <h4>{{filterlangName(LangObj.langCode)}}</h4>
                      <span class="subheading">{{filterName(LangObj.langExpertLookupID)}}</span>
                    </div>
                    <div class="dataction col-3 px-0 d-flex justify-content-end">
                      <a class="link-pencilTrash-icons" (click)="editLanguageForm(LangIndex)"><i
                          class="fa fa-pencil"></i></a>
                      <a class="link-pencilTrash-icons" (click)="deleteLanguageForm(LangIndex)"><i
                          class="fa fa-trash"></i></a>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
          </section>
        </div>
        <div class="col-12 card px-0 pt-5" [hidden]="loadProfile">
          <app-show-profile (dataToParent)="pdfLoaded($event)" [dataToPass]="candData"></app-show-profile>
        </div>
      </div>
    </div>
  </section>
</div>
<mat-spinner color="warn" *ngIf="showSpinner"></mat-spinner>