@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');


body,
html {
  background: #F3F5F7;
}

#wrapper {
  background: #F3F5F7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

h4 {
  font-weight: normal;
  font-size: 22px !important;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

h4+span {
  color: #969EB5;
}

a {
  color: #111111;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
}

ul,
p,
span,
.btn {
  font-family: Segoe UI !important;
}

p,
li {
  font-weight: normal;
}

i {
  color: #969EB5;
  font-style: normal;
}

i.active {
  color: #4A7AFF;
}

.ul-aside li {
  line-height: 35px;
}

p {
  line-height: 30px;
}

li {
  line-height: 26px;
  text-align: left;
}

/* .h2, h2 {
    font-size: 2rem;
} */

.h3,
h3 {
  font-size: 1.75rem;
}

h3 {
  margin-bottom: 15px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

#wrapper {
  margin: 0px auto;
  max-width: 98%;
  overflow: hidden;
}

section {
  margin-bottom: 30px;
  margin-top: 30px;
}

#pdfbody {
  margin-top: 10px;
}

#pdfheader {
  margin-bottom: 10px;
}

.card {
  border-radius: 10px !important;
  box-shadow: 0px 0px 15px #DEEEF9;
  margin: 6px auto;
  box-sizing: border-box;
  padding: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.stripe>li:nth-child(even) {
  background: #fff;
  margin: 15px 0;
  padding: 15px 30px;
}

.jobsmry {
  margin: 10px auto 30px;
}

.jobsmry li {
  margin: 20px 0 0;
}

.innerpadding {
  padding: 0 30px;
}

.years {
  font-size: 16px;
  color: #969EB5;
}

.tag {
  color: #777981;
  border: 1px solid #D8DDE8;
  border-radius: 30px;
  font-size: 14px;
  padding: 0px 15px;
  line-height: 22px;
  margin: 5px 0px;
  height: 25px;
  overflow: hidden;
}

.langlist li {
  display: flex;
  justify-content: space-between;
}

.prefname {
  font-size: 14px;
  color: #969EB5;
}

.pref {
  margin-bottom: 25px;
}

.aside .card {
  margin-bottom: 20px;
}

.avatar {
  width: 150px;
  height: auto;
  min-width: 120px;
  min-height: 120px;
  border: 1px solid #D1D5E1;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
}

.avatar img {
  max-width: 100%;
}

/* .change-avatar {
    position: absolute;
    z-index: 999999;
    background: rgba(0,0,0,0.85);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    color: #EE1D23;
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.change-avatar i,
.change-avatar i:hover{color:#fff; font-size:1.2em; transition: all 0.3s ease;}

.change-avatar i:hover{color:#EE1D23;}

.avatar:hover .change-avatar{display: flex;} */

.change-avatar {
  position: absolute;
  z-index: 999;
  /* background: rgba(0,0,0,0.85); */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  color: #837676;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.change-avatar i,
.change-avatar i {
  color: #fff;
  font-size: 1.2em;
  transition: all 0.3s ease;
}

.change-avatar i {
  color: #837676;
}

.avatar .change-avatar {
  display: flex;
}


.candata ul li,
ul.contactinfo li {
  line-height: 30px;
}


.hire.tag {
  background-color: #E5F9E7;
  border: none;
  color: #111;
  padding: 5px 15px;
  margin-top: 5px;
  display: inline-block;
  line-height: 15px;
}

.hire.tag i {
  font-size: 12px;
  color: #54C75F;
}

ul.emplist {
  border-left: 1px dashed #969EB5;
  margin-left: 30px;
}

li.innerpadding.emprecord:before {
  content: "•";
  font-size: 66px;
  position: absolute;
  left: 19px;
  color: #969EB5;
}

.card-head {
  margin-bottom: 25px;
}

.link-primary {
  color: #ED1C94;
}

button#dropdownMenuButton {
  background: #fff;
  border: none;
  color: #111;
}

button#dropdownMenuButton {
  box-shadow: none;
}

a.dropdown-item {
  margin-left: 0;
}

.card-head+ul>li {
  margin-top: 25px;
}

ul.socialinks>li {
  margin-top: 5px;
}

.btn-profedit .btn-capsule {
  border-radius: 40px;
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
  color: #0984E3;
}

a.btn-capsule i {
  color: #0984E3;
}

a.btn-capsule:hover {
  background-color: #fff;
  color: #4169E3;
  border-color: #4169E3;
}

a.btn-capsule:hover i {
  color: #4169E3;
}

a.btn-capsule:focus,
a.btn-capsule:active {
  box-shadow: none !important;
  background-color: #fff !important;
}

a.viewprofile,
a.viewprofile i,
a.link-blu,
a.link-blu i {
  color: #4169E3 !important;
}

a.link-blu {
  margin-left: 0;
}

i.fa-pencil:hover {
  color: #0984E3;
}

i.fa-trash:hover {
  color: #0984E3;
}

/* Dashboard and Job box */
.jobox {
  border: 1px solid #aaa;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  height: 270px;
  overflow: hidden;
}

ul.jobmeta i {
  margin-right: 5px;
  font-size: 14px;
}

ul.jobmeta {
  font-size: 14px;
}

ul.jobrief li {
  line-height: 20px;
  margin-bottom: 10px;
}

ul.jobrief {
  font-size: 13px;
  list-style: disc;
  padding-left: 15px;
  padding-top: 10px;
}

button#dropdownMenuButton {
  width: 25px;
}

.dropdown-toggle::after {
  display: none;
}

#pdfheader .dropdown-toggle::after {
  display: inline-block;
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1.5rem;
  overflow: hidden;
  line-height: 0;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: 1rem;
}

p.resumetext.text-muted {
  line-height: 25px;
  font-size: 14px;
}

.slide.slick-arrow {
  position: absolute !important;
  top: 45%;
  cursor: pointer;
  z-index: 999;
  transition: all 0.2s ease;
}


.slick-arrow.nextArrow {
  right: 0;
}

.slick-arrow i {
  color: #969EB5 !important;
  font-size: 2.5em;
  font-style: normal;
}

.slick-slide {
  margin: 0 10px;
}

.slick-arrow:hover i {
  color: #981DF0 !important;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.btn {
  padding: 10px 20px;
  border-radius: 35px;
  /* font-family: "Oswald", Helvetica, Arial, sans-serif; */
  font-weight: 400;
  letter-spacing: initial;
  text-transform: capitalize;
  transition: .22s;
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 100%;
  }

}

@media screen and (max-width:640px) {
  .link-primary {
    margin-left: 0;
  }

  h4 {
    font-size: 1.2rem;
  }

  .innerpadding {
    padding: 0 15px;
  }

  .dataction {
    text-align: right;
  }

  .dataction a {
    margin-bottom: 15px;
  }

  span.subheading {
    font-size: 14px !important;
  }

  .btn-capsule {
    margin-left: 0;
    margin-right: 15px;
  }
}

@media screen and (min-width:990px) and (max-width:1200px) {
  .avatar {
    width: 120px;
    height: 120px;
  }
}

.jobrief {
  max-height: 107px;
  overflow: hidden;
}

.justify-content-start h3 {
  font-size: 18px;
}

h3 {
  margin-bottom: 15px;
  text-align: left !important;
  font-weight: bold !important;
  font-size: 1.4em;
}

/* OCt10 */
@media screen and (min-width:1360px) {

  #pdfheader h2,
  #pdfbody h2 {
    font-size: 1.5em !important;
  }
}

.jobrief p {
  margin: 0 !important;
}

.badge-tab span {
  padding-left: 10px;
}

.ninja-badge {
  position: absolute;
  top: 36%;
  left: 9%;
}

.brief-cls {
  background-color: #E1EEF8;
  /* color: blue; */
  text-align: center;
  border-radius: 50px;
}

.brief-cls i {
  color: #0984E3;
  font-style: normal;
  font-size: 50px;
  position: relative;
  top: 7px;
}

.assessment-list-back {
  background-color: #F1F2F4;
  padding: 10px 10px 1px 10px;
}

.parent-block {
  padding: 7px 5px;
}

.assessment-list-footer {
  padding-left: 10px;
}

.assessment-list-back>div,
.assessment-list-footer>div {
  padding: 0;
}

.assessment-list-footer>div {
  /*font-size: 13px;*/
  font-size: 12px;
}

.assessment-list-footer .passed {
  background-color: #526177;
  color: #fff;
  padding: 5px 10px;
}

.assessment-list-footer .passed i {
  color: #FFFFFF;
}

.assessment-list-footer .top-percent .passed {
  background-color: #CB9334;
}

.assessment-list-footer .btn {
  padding: 0 !important;
}

.assessment-list-back .assess-title {
  font-weight: bold;
  line-height: 20px;
}

/*****/
/* a.verifybutton {
  letter-spacing: normal;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin-top: 16px;
  color: #fff !important
} */
div.dashverify a {
  letter-spacing: normal;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  /* margin-top: 16px; */
  color: #fff !important
}

/*** vinay ****/
.brief-cls {
  width: 70px;
  min-width: 70px;
  height: 70px;
  line-height: 60px;
  margin-right: 10px;
}

.brief-cls i {
  font-size: 32px;
}

.assessment-list-back {
  display: flex;
  /*align-items: center;*/
}

.assessment-list-back.row img {
  /*max-width: 42px;*/
  /*margin-left:10px;*/
}

.assessment-list-back a,
.assessment-list-back a:active {
  width: 88%;
  border: 1px solid #0984E3;
  border-radius: 10px 0px 10px 0px;
  position: relative;
  /*top: 9px;*/
  color: #fff;
  background-color: #0984E3;
}

.assessment-list-back a i {
  font-size: 14px;
  color: #ffffff;
}

p.assess-title {
  color: #000;
  font-weight: normal !important;
  font-size: 13px !important;
  text-align: left !important;
}

.edit-numer-heading {
  float: left;
}

a.edit-numberlink {
  color: #0984E3;
  float: left;
}

.btn-outline-dark {
  border-color: #0984E3 !important
}

@media (max-width: 576px) {
  /* .minNone {
    display: none !important;
  } */

  .brief-cls {
    width: 45px;
    min-width: 45px;
    height: 45px;
    line-height: 35px;
  }

  .brief-cls i {
    font-size: 20px;
  }

  .parent-block {
    padding: 7px;
  }

  /* .resumetext.text-muted{
      padding-left: 52px;
  } */
}

@media (min-width: 576px) {
  /* .maxNone {
    display: none !important;
  } */

}

.start-resume-retake a.btn-capsule,
.assessment-list-footer a.btn-capsule {
  font-size: 12px;
  height: auto !important;
  line-height: 30px !important;
}

/* [VINCSS] */

.avatar {
  position: relative;
  overflow: visible;
}

.avatarimg {
  overflow: hidden;
  border-radius: 50%;
}

#ninja-badge {
  position: absolute;
  right: -5px;
  bottom: -5px;
}

.companydata h4 {
  font-size: 18px;
}


#pdfbody a {
  font-size: 14px;
}

#profheader .btn-capsule {
  font-size: 14px;
}

.badge-tab img {
  max-width: 100%;
}

/* .badge-tab>div {
  width: 90px;
} */




@media screen and (min-width:320px) and (max-width:767px) {

  .candata h2 {
    text-align: center;
  }

  .candata ul li {
    text-align: center;
  }

  #profheader a.btn-capsule {
    padding: 0 15px;
    height: 45px;
    line-height: 45px;
  }

  #profheader h2 {
    font-size: 1.5rem;
  }

  .cdk-drop-list h4 {
    font-size: 1rem;
  }

  .resumeDiv {
    text-align: left;
  }

  .subheading.pl25 {
    padding-left: 0;
  }

  .badge-tab img {
    width: 70px;
    max-width: 100px;
  }
}

@media screen and (min-width:320px) and (max-width:575px) {
  .badge-tab img {
    width: 70px;
    /* max-width: 100px; */
  }

  .candata ul li {
    text-align: center;
  }
}

@media screen and (min-width:576px) and (max-width:680px) {
  .badge-tab img {
    width: 80px;
    /* max-width: 100px; */
  }

  .candata h2 {
    text-align: center;
  }

  .candata ul li {
    text-align: center;
  }

}

@media screen and (min-width:681px) and (max-width:767px) {
  .badge-tab img {
    width: 80px;
    /* max-width: 100px; */
  }

  .candata h2 {
    text-align: center;
  }

  .candata ul li {
    text-align: center;
  }

}

@media screen and (min-width:768px) and (max-width:1280px) {
  .companydata h4 {
    font-size: 1.2rem;
  }

  .candata h2 {
    text-align: left !important;
  }

  .candata ul li {
    text-align: initial;
  }
}

@media screen and (min-width:1200px) and (max-width:1359px) {
  .btn-profedit i:not(.btn-profedit>div+div i) {
    display: none;
  }

  .btn-profedit .btn-capsule {
    /*padding: 0 10px;*/
    height: 44px;
    line-height: 44px;
  }
}

@media screen and (min-width:1200px) {
  .candata h2 {
    text-align: left !important;
  }

  .badge-tab img {
    width: 80px;
    /* max-width: 90px; */
  }

  .candata {
    width: 100%;
  }

  .badge-tab .gold-badge-main {
    margin-left: 10px;
  }

  .candata ul li {
    text-align: initial !important
  }
}

.slide-box {
  cursor: pointer;
}

@media screen and (min-width:300px) and (max-width:480px) {
  .avatar {
    width: 130px;
  }

  .wrapper {
    display: grid;
    grid-gap: 10px;
    /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
    grid-template-columns: repeat(6, 0fr);
    background-color: #fff;
    color: #444;

  }
}

/* @media screen and (min-width:990px) and (max-width:1260px) {
  .dashboard-box {
    margin-top: 60px !important;
  }
}

@media screen and (width:1260px) {
  .dashboard-box {
    margin-top: 00px !important;
  }
} */