:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: 1.25em;
}

.container {
  width: 100%;
  /* background-color:#DADADA; */
  /* padding: 1em; */
  /* important */
  display: flex;
  /* important */
  align-items: stretch;
  justify-content: space-around;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
}

/* .errorMessage{
    font-size: 12px;
      line-height: 14px;
     
      -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
      transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
      opacity: 1;
      margin-top: 0;
      padding-top: 5px;
      color: rgb(221,44,0);
  } */

.signup-left-content {
  width: 100%;
  background: white;
  color: grey;
  margin: 0 0.2em;
  padding: 0.5em;
  /* important */
  min-height: 100%;
}

.signup-right-content {
  width: 100%;
  background: white;
  color: grey;
  margin: 0 0.2em;
  padding: 0.5em;
  /* important */
  min-height: 100%;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
}

@media screen and (max-width: 1260px) {
  mat-card {
    margin: 6em auto;
  }
}

mat-form-field {
  display: block;
}

.title-para {
  letter-spacing: normal;
  font-size: 14px;
  text-align: center;
  color: #29293a;
}

.title-1 {
  letter-spacing: normal;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1.25em;
  text-align: center;
}

.title {
  letter-spacing: normal;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 1.3em;
  text-align: center;
}

.forgot-link {
  letter-spacing: normal;
  font-size: 12px;
  font-weight: bold;
  margin-top: 16px;
}

.forgot-link a {
  color: #0984e3;
  font-weight: 500;
}

.forgot-link a:hover {
  color: #ee1d23;
  font-weight: 500;
}

/* button.mat-raised-button:hover {
  background-color: rgb(119,15,194)
} */

.mat-card-actions {
  padding: 18px;
  text-align: center;
}