<div class="container">
  <div class="signup-right-content">
    <form [formGroup]="forgotPasswordForm">
      <mat-card class="red-shadow">
        <!-- <h5 class="title-1">
                    <img src="assets/new/CSNINJA-text-logo.png">
                </h5> -->
        <h5 class="title">Forgot Password</h5>
        <!-- anchor must be a passive link -->
        <!-- <h5 class="forgot-link" style="padding: 10px;">
                    <a href="javascript:void(0)" (click)="goBack()">
                        <img src="assets/icons/arrow_back.svg" />Back
                    </a>
                  </h5> -->
        <p class="title-para">We'll send you an email with a link to reset your password.</p>

        <!-- <span class="forgotpassword-paragraph mt-3 mt-b">We'll send you an email with a link to reset your password.</span> -->
        <mat-card-content>
          <mat-form-field class="full-width-input mt-3 mb-3" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" appAutoFocusDirective formControlName="email" required>
            <mat-error class="errorMessage"
              *ngIf=" ((submitted && !forgotPasswordForm.controls.email.touched) || forgotPasswordForm.controls.email.touched)">
              <span *ngIf="forgotPasswordForm.controls.email.errors?.required">Please enter a valid email ID. The email
                ID field cannot be blank.
              </span>
              <span *ngIf="forgotPasswordForm.controls.email.errors?.pattern">The Email ID format is incorrect. Please
                enter a valid email ID.
              </span>
            </mat-error>
          </mat-form-field>
          <!-- <mat-card-actions>
                        <button (click)="createForgotPasswordForm()" style="float: left;"
                        mat-raised-button 
                        [color]="color" 
                        (mouseover)="color = 'warn'"
                        (mouseout)="color = 'accent'">
                         Forgot Password
                      </button>
                      <hr>
                      <h5 class="forgot-link">
                        <a routerLink="/login" mat-menu-item>Sign In?</a>
                      </h5>
                    </mat-card-actions> -->
          <mat-card-actions>
            <button (click)="createForgotPasswordForm()" mat-raised-button [color]="color" (mouseover)="color = 'warn'"
              (mouseout)="color = 'accent'">
              Forgot Password
            </button>
            <hr>
            <h5 class="forgot-link">
              <a routerLink="/login" mat-menu-item>Go Back to Sign In</a>
            </h5>


          </mat-card-actions>

        </mat-card-content>
      </mat-card>
    </form>
  </div>