<!-- <div class="page1"> -->
    <!-- <div class="header-section">
        <h1 class="main-title">hireselect</h1>
    </div> -->
        <!-- <div class="row header1">
            <div class="col-sm-9"><a class="navbar-brand" (click) ="gotohome()" style="cursor:pointer;">
                  <img src="assets/new/curately-logo.svg" alt="" width="90" height="50">
                </a>
                <p class="bottom-text"><i>Powered by <strong>Equity</strong></i></p>
            </div>

            <div class="col-sm-2">
            <button class="btn align-middle btn-primary my-2 mx-3 my-sm-0 btn-sm result-btn1"  (click)="seeResults()">Result</button> 
                
            </div>
        </div> -->
        
                                <div class="container123">
                                  <iframe  [src]="assessmentid"></iframe>
                                </div>
          
<!-- </div> -->
   
