<div class="updt-pwd-main-cont">
    <h2 class="Update-password-text">Update Password</h2>

    <div mat-dialog-content class="update-pwd-container">
        <form class="update-form" [formGroup]="updatePasswordForm">

            <div class="pwd-type-cont">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input size="small" type="email" matInput placeholder="Email" formControlName="email" readonly>

                    <mat-error></mat-error>
                </mat-form-field>

            </div>

            <div class="pwd-type-cont">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input appAutoFocusDirective size="small" [type]="hidePassword1 ? 'password' : 'text'" matInput
                        placeholder="New Password" formControlName="newPassword" required>
                    <button mat-button matSuffix mat-icon-button (click)="togglePassword1Visibility()">
                        <mat-icon style="font-size: medium;">{{ hidePassword1 ? 'visibility_off' : 'visibility'
                            }}</mat-icon>
                    </button>
                    <mat-error></mat-error>
                </mat-form-field>

                <div class="error-messages w-100" *ngIf="
                                                      (submitted && !updatePasswordForm.controls.newPassword.touched) 
                                                      ||
                                                      updatePasswordForm.controls.newPassword.touched ||
                                                      updatePasswordForm.controls.newPassword.value
                                                    ">
                    <p class="error-message_heading mb-2">
                        Your password must contain:
                    </p>
                    <label class="col-sm-12 text-left mx-0 my-0" [ngClass]="
                                                        updatePasswordForm.controls['newPassword'].hasError('required') ||
                                                        updatePasswordForm.controls['newPassword'].hasError('minlength')
                                                          ? 'text-danger'
                                                          : 'text-success'
                                                      ">
                        <i class="material-icons circle check">{{
                            updatePasswordForm.controls["newPassword"].hasError("required") ||
                            updatePasswordForm.controls["newPassword"].hasError("minlength")
                            ? "circle"
                            : "check"
                            }}</i>
                        <span class="circle check">At least 8 Characters</span>
                    </label>

                    <label class="col-sm-12 text-left" [ngClass]="
                                                        updatePasswordForm.controls['newPassword'].hasError('required') ||
                                                        updatePasswordForm.controls['newPassword'].hasError('hasSmallCase')
                                                          ? 'text-danger'
                                                          : 'text-success'
                                                      ">
                        <i class="material-icons">{{
                            updatePasswordForm.controls["newPassword"].hasError("required") ||
                            updatePasswordForm.controls["newPassword"].hasError("hasSmallCase")
                            ? "circle"
                            : "check"
                            }}</i>
                        <span> Lower case letters (a-z)</span>
                    </label>

                    <label class="col-sm-12 col-xs-12 text-left" [ngClass]="
                                                        updatePasswordForm.controls['newPassword'].hasError('required') ||
                                                        updatePasswordForm.controls['newPassword'].hasError(
                                                          'hasCapitalCase'
                                                        )
                                                          ? 'text-danger'
                                                          : 'text-success'
                                                      ">
                        <i class="material-icons">{{
                            updatePasswordForm.controls["newPassword"].hasError("required") ||
                            updatePasswordForm.controls["newPassword"].hasError(
                            "hasCapitalCase"
                            )
                            ? "circle"
                            : "check"
                            }}</i>

                        <span> Upper case letters (A-Z)</span>
                    </label>

                    <label class="col-sm-12 text-left px-0" [ngClass]="
                                                        updatePasswordForm.controls['newPassword'].hasError('required') ||
                                                        updatePasswordForm.controls['newPassword'].hasError('hasNumber')
                                                          ? 'text-danger'
                                                          : 'text-success'
                                                      ">
                        <i class="material-icons">{{
                            updatePasswordForm.controls["newPassword"].hasError("required") ||
                            updatePasswordForm.controls["newPassword"].hasError("hasNumber")
                            ? "circle"
                            : "check"
                            }}</i>
                        <span> Numbers (0-9)</span>
                    </label>
                </div>

            </div>


            <div class="pwd-type-cont">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input size="small" [type]="hidePassword2 ? 'password' : 'text'" matInput
                        placeholder="Confirm Password" formControlName="confirmPassword" required>
                    <button mat-button matSuffix mat-icon-button (click)="togglePassword2Visibility()">
                        <mat-icon style="font-size: medium;">{{ hidePassword2 ? 'visibility_off' : 'visibility'
                            }}</mat-icon>
                    </button>


                </mat-form-field>

            </div>
            <div style="min-height: 50px;">
                <mat-error
                    *ngIf="buttonClicked && updatePasswordForm.hasError('mismatch') && updatePasswordForm.get('newPassword') && updatePasswordForm.get('confirmPassword')">Passwords
                    do not match</mat-error>
            </div>

            <!-- <mat-error
                *ngIf="updatePasswordForm.hasError('mismatch') && updatePasswordForm.get('newPassword') && updatePasswordForm.get('confirmPassword')">Passwords
                do not match</mat-error> -->






            <div class="updt-pwd-btn-cont">
                <button mat-stroked-button (click)="onClose()">Cancel</button>
                <button mat-flat-button color="primary" (click)="updatePassword()">Update</button>
            </div>
        </form>
    </div>
</div>