    <!-- Page-->
    <div class="page">

        <div class="header-section">
            <!-- <img class="header-img" src="/assets/Why You Should Talk About Your Diversity During Your Interview_Blog.jpg" alt="" style="width:100%"> -->
            <h5 class="main-title">How to Be <span style="color: red;">Inclusive</span><br>During the  <span style="color: red;">Interview Process</span></h5>
        </div>
     
        
        
        <div class="container ng-scope" id="blogContainer">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="media">
                        <div class="media-body">
                            <!-- <h1>About Us</h1> -->
                            <!-- <h2>Why You Should Talk About Your Diversity During Your Interview</h2> -->
                            <p>The most innovative companies today embrace diversity.
                            </p>
                            <p>Creating a more equitable workplace and employee experience is no longer about just doing the right thing. 
                                Continued innovation and business success highly depend on it.
                            </p>
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/head.png" alt="" width="">
                                </div>
                            </div>
                            <p>A <a href='https://www.mckinsey.com/featured-insights/diversity-and-inclusion/diversity-wins-how-inclusion-matters'> <strong>Mckinsey study</strong> </a> reports that diverse teams are 36% more likely to outperform their competitors.
                                 Diversity of thought also increases company innovation by 20%, according to <a href='https://www2.deloitte.com/us/en/insights/deloitte-review/issue-22/diversity-and-inclusion-at-work-eight-powerful-truths.html'> <strong>Deloitte research</strong> </a>. 
                            </p>
                           
                            <p>Undeniably, diversity is an asset in today’s business world. But how do companies go about creating a diverse workplace?
                            </p>
                            <p><i>The answer is prioritizing inclusive hiring.</i>
                            </p>
                            <p>Diversity and inclusion efforts don’t maintain long-term success without inclusive recruitment. Explicit and unconscious bias hinder diversity in the workplace, even during recruitment.
                            </p>
                            <p style="text-align: center; font-size: medium;"><strong>Suggested reading:</strong><br>
                                <a style="color: red;" routerLink="/The-Antidote-to-Candidate-Ghosting-Be-an-Employer-of-Choice" target="_blank">The Antidote to Candidate Ghosting? Be an Employer of Choice.</a><br>
                                <a style="color: red;" routerLink="/How-to-Build-a-Cybersecurity-Team-in-2022" target="_blank">How to Build a Cybersecurity Team in 2022</a>
                                </p>
                            <p>Inclusive hiring practices are essential to building sustainable, diverse teams. But good intentions can fall flat if bias is left unchecked at any stage of the hiring cycle.
                            </p>
                            <p>Here are some ways to ensure your interview process is inclusive and equitable.
                            </p>
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/begin_job.png" alt="" width="">
                                </div>
                            </div>
                            <!-- <p><strong>1. Extend competitive offers</strong></p> -->
                            <p>Often more than not, the first impression with candidates begins at first glance of the job description. The job post is a critical touchpoint during the candidate’s journey. 
                            </p>
                            <p>It provides job seekers with information about an open role and the company currently hiring. And like in any scenario, people read between the lines.
                            </p>
                            <p>When creating a job description, it is important to include inclusive language that welcomes candidates. Gendered language can especially make candidates feel excluded.
                                 An industry best practice is to avoid using words that have male or female associations.
                            </p>
                            <p>These include job titles with words that have masculine or feminine connotations. Instead, use professional terms such as “project manager,” “engineer”  and “computer programmer,”
                                 which accurately describe the role without any implication of gender.
                            </p>
                            <p>Companies should consider using <a href='https://textio.com/'> <strong>Textio</strong> </a> and <a href='http://gender-decoder.katmatfield.com/'> <strong>The Gender Decoder</strong> </a>, tools that help ensure job ads avoid subtle bias and gendered language.
                            </p>
                            <p>Additionally, employers can include an accommodations statement in the job description that ensures candidates who require them can participate in the interview process.
                                 It is also recommended that you explicitly have your company’s commitment to diversity and inclusion with the job description. 
                            </p>
                            <p>This, alongside a link to more information about other company-wide initiatives, will help candidates further understand how your organization supports its employees.
                            </p>
                            
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/welcome.png" alt="" width="">
                                </div>
                            </div>
                            <!-- <p><strong>2. Have an agile, efficient interview and hiring process </strong></p> -->
                            <p>People take comfort knowing that they can be their true selves. To create an inviting candidate experience, employers should welcome preferred names and pronouns. 
                            </p>
                            <p>The job search can already be an anxiety-inducing process. Employers can eliminate additional stress for those who already have apprehension about providing 
                                details about their identity by helping to standardize the fact that gender is not binary and that it should not be assumed.</p>
                            <p>Including optional pronouns and preferred name fields in the application process is an easy start. Listing gender pronouns in email signatures can also signal 
                                to candidates that preferred pronouns are welcomed. </p>
                            <p>Employers can also start an internal practice of sharing pronouns when new people are present at the beginning of meetings. Making this part of your 
                                internal culture will only flow into the recruitment and interview process.
                            </p>
                            <p>You can also make candidates feel comfortable by sharing your pronoun first. When introducing yourself during an interview, indicate your preferred pronouns 
                                after your title. As a result, candidates might take comfort in realizing that the interview is a safe and open space. 
                            </p>
                            
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/int.png" alt="" width="">
                                </div>
                            </div>
                            <!-- <p><strong>3. Make a good impression </strong></p> -->
                            <p>To further prevent unconscious bias during hiring, it’s important to establish consistency during the interview process across all candidate interviews.
                            </p>
                            <p>In standardized interviews, candidates are asked the same questions in the same order with the same panel of interviewers. This type of interview helps 
                                give interviewees the same, equal opportunity to showcase how they’re the right pick for a position.
                            </p>
                            <p>When selecting interview questions, evaluate which questions have a direct impact on success and performance. Remove those that do not indicate a candidate’s abilities. 
                                To ensure the interview questioning remains consistent, prepare a script ahead of time that you will use for each candidate.
                            </p>
                            <p>Employers can also implement scorecards to assess candidates on relevant, desired criteria. Evaluating candidates will make shortlisting crystal clear, easy and fair.
                            </p>
                            
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/takeaway.png" alt="" width="">
                                </div>
                            </div>
                            <!-- <p><strong>4. The Takeaway</strong></p> -->
                            <p>Hiring teams that implement inclusive best practices during interviews will create a pleasant
                                 candidate experience that invites job applicants to apply and be their authentic selves. 
                                 Standardizing the process also gives employers the time they need to concentrate on what 
                                 matters during the interview—the skills needed to fill the role.
                            </p>
                            <p>In turn, employers will build successful companies that are innovative, competitive and rich with diverse talent.  
                            </p>
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        
    </div>
      
        