    <!-- Page-->
    <div class="page">

        <div class="header-section">
            <!-- <img class="header-img" src="/assets/Why You Should Talk About Your Diversity During Your Interview_Blog.jpg" alt="" style="width:100%"> -->
            <h5 class="main-title">What to Consider To Find a Job<br> That Makes You Happy</h5>
        </div>
     
        
        
        <div class="container ng-scope" id="blogContainer">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="media">
                        <div class="media-body">
                            <!-- <h1>About Us</h1> -->
                            <!-- <h2>Why You Should Talk About Your Diversity During Your Interview</h2> -->
                            <p>Finding a <a href='https://www.incredibleme.com/signup'> <strong>job that satisfies</strong> </a>
                                you isn't always as easy as it seems. 
                            </p>
                            <p>Matching your skills to job requirements is just one factor that goes into locating “the perfect fit” in a role.
                                 Every individual has unique needs and desires, making the job search a true personal quest.
                            </p>
                            <p>For some, it’s about having a salary to afford a comfortable lifestyle. For others, it’s being able to lead a team. 
                                Whatever the case, loving what you do makes a huge difference in finding happiness at work. 
                            </p>
                            <p>Here are some key factors to consider when determining what matters most to you at work:
                            </p>
                          
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/blog_18(1).png" alt="" width="">
                                </div>
                            </div>
                            <p>There’s nothing wrong with wanting to make a good paycheck. Money plays a huge part in our daily lives. 
                                Payment for work pays for shelter, food, lifestyle, childcare, education and everything else. Rightfully so,
                                 many job seekers prioritize compensation as a major deciding factor when identifying the right role for them. 
                            </p>
                           
                            <p>Compensation can include things like salary, bonuses, profit sharing, benefits and more. It’s important to 
                                consider whether compensation for a role meets your minimum expectations and lifestyle requirements. 
                                To help determine what your compensation needs are, consider the following:
                            </p>
                           
                            <ul class="cookiespolicyul">
                                <li>
                                    <p>What are my financial goals?
                                    </p>
                                </li>
                                <li>
                                    <p>What benefits are most important to me?
                                    </p>
                                </li>
                                <li>
                                    <p>What benefits does a company provide?
                                    </p>
                                </li>
                                <li>
                                    <p>What salary fulfills my basic needs and desired lifestyle?
                                    </p>
                                </li>
                                <li>
                                    <p>Am I eligible for a salary increase with good performance?
                                    </p>
                                </li>
                                <li>
                                    <p>Are there things outside of salary (profit sharing, bonuses, i.e.) that fulfill my needs?
                                    </p>
                                </li>
                                
                                
                            </ul> 
                            <p style="text-align: center; font-size: medium;"><strong>Suggested reading:</strong><br>
                                <a style="color: red;" routerLink="/how-to-deal-with-the-spectre-of-loneliness-in-a-job-search" target="_blank">How to Deal with the Spectre of Loneliness in a Job Search</a><br>
                                <a style="color: red;" routerLink="/Breaking-into-Tech-Tips-for-Women" target="_blank">Breaking into Tech Tips for Women
                                </a>
                            </p>
                            
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/blog_18(2).png" alt="" width="">
                                </div>
                            </div>
                            <!-- <p><strong>1. Extend competitive offers</strong></p> -->
                            <p>Climbing the career ladder is a common pursuit among job seekers. 
                                That's why most people want to work for a company that supports and encourages their professional growth.</p>
                            <p>Whether it’s <a href='https://www.incredibleme.com/signup'> <strong>obtaining a more senior-level position</strong> </a>
                                or <a href='https://www.incredibleme.com/upskill-reskill'> <strong>breaking into a new field</strong> </a>
                                , 
                                employers often invest in employees looking to spend their time and talents for the business long-term. 
                                When determining what type of career growth opportunities a company has, you must conduct research before committing to a role.
                            </p>
                            <p>Inquire about advancement opportunities <a href='https://www.incredibleme.com/interviewprep'> <strong>during the interview process</strong> </a>
                                to get a first-hand, inside look into a company.
                                 Before the interview, explore a company’s website for more information about career advancement. 
                            </p>
                            <p>You can also browse <a href='https://www.linkedin.com/company/incredible-me-careers/'> <strong>LinkedIn pages</strong> </a>
                                of employees at an organization to get an idea about employee tenure in a role. To help better determine what your career growth needs are, consider the following:
                            </p>
                            <ul class="cookiespolicyul">
                                <li>
                                    <p>What professional development opportunities does a company have?
                                    </p>
                                </li>
                                <li>
                                    <p>Is performance a deciding factor for career growth at a company?
                                    </p>
                                </li>
                                <li>
                                    <p>Does a company provide an actual career progression plan for its employees?
                                    </p>
                                </li>
                                <li>
                                    <p>Are continuing education opportunities offered on behalf of an employer?
                                    </p>
                                </li>
                                <li>
                                    <p>How long do employees typically stay in the same position?
                                    </p>
                                </li>
                               
                            </ul> 
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/blog_18(3).png" alt="" width="">
                                </div>
                            </div>
                            <p>Professionals spend a significant amount of their daily lives working. Workplace culture 
                                plays a huge factor for many job seekers because work is where we spend most of our time. 
                            </p>
                            <p>The bottom line is that you have to like your work environment to maintain long-term job satisfaction. 
                            </p>
                            <p>Work culture can include employee experience, team dynamic, management approach, job flexibility, company values and more. While it can sometimes be hard to figure out intangible 
                                things like the “vibe” of a company, you can get a good idea by doing some simple investigation. 
                            </p>
                            <p>During the <a href='https://www.incredibleme.com/why-you-should-talk-about-your-diversity-during-your-interview'> <strong>interview process</strong> </a>
                                , ask hiring managers and other team members about what it’s like to work at a company or on a team. 
                                For more raw insight, examine company reviews via Google and <a href='https://www.glassdoor.com/Reviews/ASK-Consulting-Reviews-E528234.htm'> <strong>Glassdoor</strong> </a>
                                . To get your mind on determining what your office culture needs are, consider the following:
                            </p>
                            <ul class="cookiespolicyul">
                                <li>
                                    <p>Do employees appear happy at a company?
                                    </p>
                                </li>
                                <li>
                                    <p>What is the teamwork dynamic at an employer?
                                    </p>
                                </li>
                                <li>
                                    <p>How does management engage with employees?
                                    </p>
                                </li>
                                <li>
                                    <p>What is the work schedule?
                                    </p>
                                </li>
                                <li>
                                    <p>Is there schedule flexibility?
                                    </p>
                                </li>
                               
                            </ul> 
                            <div class="image-row mt-3 mb-3">
                                <div class="img-container">
                                    <img class="footer-img" src="/assets/blog_18(4).png" alt="" width="">
                                </div>
                            </div>
                            <p>Fulfilling work gives many professionals purpose in what they do, increasing long-term job success along the way. 
                                Fulfilling work isn’t just about pursuing your passions. It’s about finding inspiration to work and answering the 
                                age-old existential question, “Why do you work and what for?”</p>
                            <p>Often, companies offer a vision or mission to unite employees for a common cause. They can also put in place company
                                 values to align employees with their internal interests and goals outside of business.
                            </p>
                            <p>When employees are aligned with a company’s mission, they can find purpose in what they do. 
                                To help determine if a role will provide fulfilling work, consider the following:
                            </p>
                            <ul class="cookiespolicyul">
                                <li>
                                    <p>What is the company’s vision or mission?
                                    </p>
                                </li>
                                <li>
                                    <p>Does their vision or mission excite me?
                                    </p>
                                </li>
                                <li>
                                    <p>Do I personally align with this company’s ideals?
                                    </p>
                                </li>
                                <li>
                                    <p>What social impact does this company make?
                                    </p>
                                </li>
                               
                               
                            </ul> 
                            <p>All in all, many factors help determine job satisfaction. While these factors vary by the individual, 
                                job seekers can start the soul searching process by tapping into their self and individual needs. 
                                Doing so will enable you to find the proper role and company for your personal and professional interests. </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        
    </div>
      
        